interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/weight-service/weight/dayview/2020-01-01
  response:
    body:
      string: '{"startDate": "2020-01-01", "endDate": "2020-01-01", "dateWeightList":
        [], "totalAverage": {"from": 1577836800000, "until": 1577923199999, "weight":
        null, "bmi": null, "bodyFat": null, "bodyWater": null, "boneMass": null, "muscleMass":
        null, "physiqueRating": null, "visceralFat": null, "metabolicAge": null}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
