interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/wellness-service/wellness/dailyHeartRate/?date=2026-01-07
  response:
    body:
      string: '{"userProfilePK": 2591602, "calendarDate": "2026-01-07", "startTimestampGMT":
        "2026-01-07T06:00:00.0", "endTimestampGMT": "2026-01-08T06:00:00.0", "startTimestampLocal":
        "2026-01-07T00:00:00.0", "endTimestampLocal": "2026-01-08T00:00:00.0", "maxHeartRate":
        115, "minHeartRate": 49, "restingHeartRate": 52, "lastSevenDaysAvgRestingHeartRate":
        51, "heartRateValues": [[1767765600000, 63], [1767765720000, 62], [1767765840000,
        60], [1767765960000, 57], [1767766080000, 62], [1767766200000, 61], [1767766320000,
        59], [1767766440000, 62], [1767766560000, 62], [1767766680000, 61], [1767766800000,
        58], [1767766920000, 61], [1767767040000, 60], [1767767160000, 62], [1767767280000,
        63], [1767767400000, 64], [1767767520000, 64], [1767767640000, 65], [1767767760000,
        65], [1767767880000, 63], [1767768000000, 64], [1767768120000, 6[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/wellness-service/wellness/dailyHeartRate/?date=2026-01-05
  response:
    body:
      string: '{"userProfilePK": 2591602, "calendarDate": "2026-01-05", "startTimestampGMT":
        "2026-01-05T06:00:00.0", "endTimestampGMT": "2026-01-06T06:00:00.0", "startTimestampLocal":
        "2026-01-05T00:00:00.0", "endTimestampLocal": "2026-01-06T00:00:00.0", "maxHeartRate":
        100, "minHeartRate": 47, "restingHeartRate": 49, "lastSevenDaysAvgRestingHeartRate":
        49, "heartRateValueDescriptors": [{"key": "timestamp", "index": 0}, {"key":
        "heartrate", "index": 1}], "heartRateValues": [[1767592800000, 91], [1767592920000,
        76], [1767593040000, 72], [1767593160000, 56], [1767593280000, 51], [1767593400000,
        50], [1767593520000, 50], [1767593640000, 48], [1767593760000, 49], [1767593880000,
        49], [1767594000000, 49], [1767594120000, 50], [1767594240000, 50], [1767594360000,
        50], [1767594480000, 50], [1767594600000, 50], [1767594720000, 50], [1767594840000,
        50], [1767594960000[...]
