interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/metrics-service/metrics/trainingreadiness/2025-07-07
  response:
    body:
      string: '[{"userProfilePK": 131234790, "calendarDate": "2025-07-07", "timestamp":
        "2025-07-07T17:43:54.0", "timestampLocal": "2025-07-07T19:43:54.0", "deviceId":
        3345342345, "level": "PRIME", "feedbackLong": "PRIME_RT_HIGHEST_SS_AVAILABLE_ACWR_POS",
        "feedbackShort": "READY_FOR_ACTION", "score": 100, "sleepScore": 80, "sleepScoreFactorPercent":
        70, "sleepScoreFactorFeedback": "GOOD", "recoveryTime": 1, "recoveryTimeFactorPercent":
        99, "recoveryTimeFactorFeedback": "GOOD", "acwrFactorPercent": 100, "acwrFactorFeedback":
        "VERY_GOOD", "acuteLoad": 20, "stressHistoryFactorPercent": 72, "stressHistoryFactorFeedback":
        "GOOD", "hrvFactorPercent": 92, "hrvFactorFeedback": "GOOD", "hrvWeeklyAverage":
        53, "sleepHistoryFactorPercent": 92, "sleepHistoryFactorFeedback": "VERY_GOOD",
        "validSleep": true, "inputContext": "AFTER_POST_EXERCISE_RESET", "primaryActivityTracker":
        true, "recoveryTimeChangePhrase": "REACHED_ZERO"}, {"userProfilePK": 131234790,
        "calendarDate": "2025-07-07", "timestamp": "2025-07-07T04:00:25.0", "timestampLocal":
        "2025-07-07T06:00:25.0", "deviceId": 3345342345, "level": "PRIME", "feedbackLong":
        "PRIME_RT_HIGHEST_SS_AVAILABLE_ACWR_POS", "feedbackShort": "READY_FOR_ACTION",
        "score": 100, "sleepScore": 80, "sleepScoreFactorPercent": 70, "sleepScoreFactorFeedback":
        "GOOD", "recoveryTime": 1, "recoveryTimeFactorPercent": 99, "recoveryTimeF[...]
[...]
