interactions:
- request:
    body: '{"activityId": 21522899847, "description": "Test description only"}'
    headers:
      Authorization:
      - Bearer SANITIZED
      Content-Type:
      - application/json
    method: PUT
    uri: https://connectapi.garmin.com/activity-service/activity/21522899847
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/activity-service/activity/21522899847
  response:
    body:
      string: '{"activityId": 21522899847, "activityUUID": {"uuid": "765c99e8-c15a-422d-8165-adf7740f2e1c"},
        "activityName": "Yoga", "description": "Test description only", "userProfileId":
        2591602, "isMultiSportParent": false, "activityTypeDTO": {"typeId": 163, "typeKey":
        "yoga", "parentTypeId": 29, "isHidden": false, "restricted": false, "trimmable":
        false}, "eventTypeDTO": {"typeId": 9, "typeKey": "uncategorized", "sortOrder":
        10}, "accessControlRuleDTO": {"typeId": 2, "typeKey": "private"}, "timeZoneUnitDTO":
        {"unitId": 150, "unitKey": "America/Costa_Rica", "factor": 0.0, "timeZone":
        "America/Costa_Rica"}, "metadataDTO": {"isOriginal": true, "deviceApplicationInstallationId":
        1003399, "agentApplicationInstallationId": null, "agentString": null, "fileFormat":
        {"formatId": 7, "formatKey": "fit"}, "associatedCourseId": null, "lastUpdateDate":
        "2026-01-12T21:24:04.0", "uploadedDate": "2026-01-12T15:00:58.0", "videoUrl":
        null, "hasPolyline": false, "hasChartData": true, "hasHrTimeInZones": true,
        "hasPowerTimeInZones": false, "userInfoDto": {"userProfilePk": 2591602, "displayname":
        "mtamizi", "fullname": "Matin Tamizi", "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/73240e81-6e4d-43fc-8af8-c8f6c51b3b8f-2591602.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/685a19e9-a7be-4a11-9bf9-faca0c5d1f1a-2591602.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/6302f021-0ec7-4dc9-b0c3-d5a19bc5a08c-2591602.png",
        "userPro": false}, "childIds": [], "childActivityTypes": [], "sensors": null,
        "activityImages": [], "manufacturer": "GARMIN", "diveNumber": null, "lapCount":
        1, "associatedWorkoutId": null, "isAtpActivity": null, "deviceMetaDataDTO":
        {"deviceId": "3618356072", "deviceTypePk": 37229, "deviceVersionPk": 1003399},
        "hasIntensityIntervals": false, "hasSplits": false, "eBikeMaxAssistModes":
        null, "eBikeBatteryUsage": null, "eBikeBatteryRemaining": null, "eBikeAssistModeInfoDTOList":
        null, "hasRunPowerWindData": null, "calendarEventInfo": null, "groupRideUUID":
        null, "hasHeatMap": false, "personalRecord": false, "runPowerWindDataEnabled":
        null, "autoCalcCalories": false, "favorite": false, "elevationCorrected":
        false, "trimmed": false, "manualActivity": false, "gcj02": false}, "summaryDTO":
        {"startTimeLocal": "2026-01-12T07:38:18.0", "startTimeGMT": "2026-01-12T13:38:18.0",
        "duration": 4366.103, "movingDuration": 4366.103, "elapsedDuration": 4943.082,
        "calories": 200.0, "bmrCalories": 107.0, "averageHR": 84.0, "maxHR": 117.0,
        "minHR": 54.0, "trainingEffect": 0.20000000298023224, "anaerobicTrainingEffect":
        0.0, "aerobicTrainingEffectMessage": "NO_AEROBIC_BENEFIT_18", "anaerobicTrainingEffectMessage":
        "NO_ANAEROBIC_BENEFIT_0", "activeSets": 1, "waterEstimated": 605.0, "minRespirationRate":
        7.0, "maxRespirationRate": 23.0, "avgRespirationRate": 15.130000114440918,
        "trainingEffectLabel": "UNKNOWN", "activityTrainingLoad": 2.5679168701171875,
        "minActivityLapDuration": 4366.103, "startStress": 43.0, "endStress": 33.0,
        "differenceStress": -10.0, "steps": 0, "avgStress": 66.0, "maxStress": 99.0,
        "differenceBodyBattery": -7}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"activityId": 21522899847, "activityName": "Yoga", "description": ""}'
    headers:
      Authorization:
      - Bearer SANITIZED
      Content-Type:
      - application/json
    method: PUT
    uri: https://connectapi.garmin.com/activity-service/activity/21522899847
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
