interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/activitylist-service/activities/search/activities?limit=3&start=0
  response:
    body:
      string: '[{"activityId": 21482825013, "activityName": "Cuajimalpa de Morelos
        - Base", "startTimeLocal": "2026-01-08 08:10:21", "startTimeGMT": "2026-01-08
        14:10:21", "activityType": {"typeId": 6, "typeKey": "trail_running", "parentTypeId":
        1, "isHidden": false, "restricted": false, "trimmable": true}, "eventType":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "distance": 4261.18994140625,
        "duration": 2223.326904296875, "elapsedDuration": 2225.44091796875, "movingDuration":
        2216.0, "elevationGain": 151.0, "elevationLoss": 147.0, "averageSpeed": 1.9170000553131106,
        "maxSpeed": 2.76200008392334, "startLatitude": 19.312051674351096, "startLongitude":
        -99.31236407719553, "hasPolyline": true, "hasImages": false, "ownerId": 2591602,
        "ownerDisplayName": "mtamizi", "ownerFullName": "Matin Tamizi", "ownerProfileImageUrlSmall":
        "https://s3.amazonaws.com/garmin-connect-prod/profile_images/6302f021-0ec7-4dc9-b0c3-d5a19bc5a08c-2591602.png",
        "ownerProfileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/685a19e9-a7be-4a11-9bf9-faca0c5d1f1a-2591602.png",
        "ownerProfileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/73240e81-6e4d-43fc-8af8-c8f6c51b3b8f-2591602.png",
        "calories": 390.0, "bmrCalories": 55.0, "averageHR": 142.0, "maxHR": 162.0,
        "averageRunningCadenceInStepsPerMinute": 111.734375, "maxRunningCadenceInStepsPerMinute":
        184.0, "steps": 5310, "userRoles": ["SCOPE_GOLF_API_READ", "SCOPE_DI_OAUTH_2_DEVICE_REVOCATION_WRITE",
        "SCOPE_DI_OAUTH_2_CREATE_DI_USER", "SCOPE_ATP_READ", "SCOPE_DIVE_API_WRITE",
        "SCOPE_COMMUNITY_COURSE_ADMIN_READ", "SCOPE_DIVE_API_READ", "SCOPE_DI_OAUTH_2_CLIENT_READ",
        "SCOPE_CONNECT_WRITE", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_MCT_DAILY_LOG_READ",
        "SCOPE_CONNECT_API_CREATE_UPDATE_USER", "SCOPE_MESSAGE_GENERATION_READ", "SCOPE_DI_OAUTH_2_CLIENT_REVOCATION_ADMIN",
        "SCOPE_CONNECT_WEB_TEMPLATE_RENDER", "SCOPE_OMT_SUBSCRIPTION_ADMIN_READ",
        "SCOPE_DI_OAUTH_2_MANAGED_STATUS_ADMIN_WRITE", "SCOPE_CONNECT_NON_SOCIAL_SHARED_READ",
        "SCOPE_CONNECT_READ", "SCOPE_DI_OAUTH_2_PRERELEASE_PERMISSIONS_ADMIN_WRITE",
        "SCOPE_DI_OAUTH_2_TOKEN_ADMIN", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_CONNECT_2_USER", "ROLE_DIVE_USER", "ROLE_TACX_APP_USER",
        "ROLE_SP_FEATURE_5", "ROLE_MESSENGER_PROFILE_USER"], "privacy": {"typeId":
        2, "typeKey": "private"}, "userPro": false, "hasVideo": false, "timeZoneId":
        150, "beginTimestamp": 1767881421000, "sportTypeId": 1, "avgPower": 194.0,
        "maxPower": 587.0, "aerobicTrainingEffect": 2.700000047683716, "anaerobicTrainingEffect":
        0.0, "normPower": 226.0, "avgVerticalOscillation": 7.95, "avgGroundContactTime":
        338.29998779296875, "avgStrideLength": 82.47999877929688, "vO2MaxValue": 45.0,
        "avgVerticalRatio": 9.770000457763672, "workoutId": 3618356072, "deviceId":
        3618356072, "minTemperature": 17.0, "maxTemperature": 24.0, "minElevation":
        2999.800048828125, "maxElevation": 3145.39990234375, "maxDoubleCadence": 184.0,
        "summarizedDiveInfo": {"summarizedDiveGases": []}, "maxVerticalSpeed": 0.8000488281250001,
        "manufacturer": "GARMIN", "locationName": "Cuajimalpa de Morelos", "lapCount":
        2, "endLatitude": 19.311103597283363, "endLongitude": -99.31316941045225,
        "waterEstimated": 382.0, "trainingEffectLabel": "AEROBIC_BASE", "activityTrainingLoad":
        50.886444091796875, "minActivityLapDuration": 3.3269999027252197, "aerobicTrainingEffectMessage":
        "MAINTAINING_AEROBIC_BASE_7", "anaerobicTrainingEffectMessage": "NO_ANAEROBIC_BENEFIT_0",
        "splitSummaries": [{"noOfSplits": 28, "totalAscent": 77.0, "duration": 660.1090087890625,
        "splitType": "RWD_WALK", "numClimbSends": 0, "maxElevationGain": 20.0, "averageElevationGain":
        3.0, "maxDistance": 142, "distance": 988.3099975585938, "averageSpeed": 1.496999979019165,
        "maxSpeed": 2.2019999027252197, "numFalls": 0, "elevationLoss": 0.0}, {"noOfSplits":
        1, "totalAscent": 151.0, "duration": 2223.326904296875, "splitType": "INTERVAL_ACTIVE",
        "numClimbSends": 0, "maxElevationGain": 151.0, "averageElevationGain": 151.0,
        "maxDistance": 4261, "distance": 4261.18994140625, "averageSpeed": 1.9170000553131104,
        "maxSpeed": 2.76200008392334, "numFalls": 0, "elevationLoss": 147.0}, {"noOfSplits":
        27, "totalAscent": 74.0, "duration": 1563.0260009765625, "splitType": "RWD_RUN",
        "numClimbSends": 0, "maxElevationGain": 12.0, "averageElevationGain": 3.0,
        "maxDistance": 2038, "distance": 3272.8798828125, "averageSpeed": 2.0940001010894775,
        "maxSpeed": 2.76200008392334, "numFalls": 0, "elevationLoss": 147.0}], "hasSplits":
        true, "moderateIntensityMinutes": 1, "vigorousIntensityMinutes": 35, "avgGradeAdjustedSpeed":
        2.2239999771118164, "differenceBodyBattery": -9, "hasHeatMap": false, "fastestSplit_1000":
        395.3139953613281, "fastestSplit_1609": 664.5800170898438, "hrTimeInZone_1":
        376.545, "hrTimeInZone_2": 1601.888, "hrTimeInZone_3": 233.231, "hrTimeInZone_4":
        10.999, "hrTimeInZone_5": 0.0, "powerTimeInZone_1": 518.883, "powerTimeInZone_2":
        93.008, "powerTimeInZone_3": 40.999, "powerTimeInZone_4": 73.002, "powerTimeInZone_5":
        39.998, "endTimeGMT": "2026-01-08 14:47:26", "qualifyingDive": false, "autoCalcCalories":
        false, "favorite": false, "decoDive": false, "elevationCorrected": false,
        "atpActivity": false, "purposeful": false, "manualActivity": false, "pr":
        false, "parent": false}, {"activityId": 21461718086, "activityName": "Cuajimalpa
        de Morelos Hiking", "startTimeLocal": "2026-01-06 07:14:18", "startTimeGMT":
        "2026-01-06 13:14:18", "activityType": {"typeId": 3, "typeKey": "hiking",
        "parentTypeId": 17, "isHidden": false, "restricted": false, "trimmable": true},
        "eventType": {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "distance":
        3362.590087890625, "duration": 2145.94189453125, "elapsedDuration": 2349.037109[...]
