interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/weight-service/weight/range/2019-12-18/2020-01-01?includeAll=true
  response:
    body:
      string: '{"dailyWeightSummaries": [], "totalAverage": {"from": 1576627200000,
        "until": 1577923199999, "weight": null, "bmi": null, "bodyFat": null, "bodyWater":
        null, "boneMass": null, "muscleMass": null, "physiqueRating": null, "visceralFat":
        null, "metabolicAge": null}, "previousDateWeight": {"samplePk": null, "date":
        null, "calendarDate": null, "weight": null, "bmi": null, "bodyFat": null,
        "bodyWater": null, "boneMass": null, "muscleMass": null, "physiqueRating":
        null, "visceralFat": null, "metabolicAge": null, "sourceType": null, "timestampGMT":
        null, "weightDelta": null}, "nextDateWeight": {"samplePk": null, "date": null,
        "calendarDate": null, "weight": null, "bmi": null, "bodyFat": null, "bodyWater":
        null, "boneMass": null, "muscleMass": null, "physiqueRating": null, "visceralFat":
        null, "metabolicAge": null, "sourceType": null, "timestampGMT": null, "weightDelta":
        null}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
