interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/metrics-service/metrics/trainingreadiness/2025-07-07
  response:
    body:
      string: '[{"userProfilePK": 2591602, "calendarDate": "2025-07-07", "timestamp":
        "2025-07-08T03:50:17.0", "timestampLocal": "2025-07-07T21:50:17.0", "deviceId":
        3469703076, "level": "MODERATE", "feedbackLong": "MOD_RT_MOD_SS_GOOD_WORKOUT_COMPLETED",
        "feedbackShort": "RECOVERY_IN_PROGRESS", "score": 50, "sleepScore": 83, "sleepScoreFactorPercent":
        76, "sleepScoreFactorFeedback": "GOOD", "recoveryTime": 2004, "recoveryTimeFactorPercent":
        45, "recoveryTimeFactorFeedback": "MODERATE", "acwrFactorPercent": 70, "acwrFactorFeedback":
        "GOOD", "acuteLoad": 583, "stressHistoryFactorPercent": 84, "stressHistoryFactorFeedback":
        "GOOD", "hrvFactorPercent": 99, "hrvFactorFeedback": "GOOD", "hrvWeeklyAverage":
        42, "sleepHistoryFactorPercent": 80, "sleepHistoryFactorFeedback": "GOOD",
        "validSleep": true, "inputContext": "UPDATE_REALTIME_VARIABLES", "primaryActivityTracker":
        true, "recoveryTimeChangePhrase": null, "sleepHistoryFactorFeedbackPhrase":
        null, "hrvFactorFeedbackPhrase": null, "stressHistoryFactorFeedbackPhrase":
        null, "acwrFactorFeedbackPhrase": null, "recoveryTimeFactorFeedbackPhrase":
        null, "sleepScoreFactorFeedbackPhrase": null}, {"userProfilePK": 2591602,
        "calendarDate": "2025-07-07", "timestamp": "2025-07-07T14:57:05.0", "timestampLocal":
        "2025-07-07T08:57:05.0", "deviceId": 3469703076, "level": "LOW", "feedbackLong":
        "LOW_RT_HIGH_SS_GOOD_OR_MOD", "feedbackShort": "HIGH_RECOVERY_NEEDS", "score":
        32, "sleepScore": 83, "sleepScoreFactorPercent": 76, "sleepScoreFactorFeedback":
        "GOOD", "recoveryTime": 2777, "recoveryTimeFactorPercent": 32, "recoveryTimeFactorFeedback":
     [...]
[...]
