interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/sleep-service/sleep/dailySleepData?date=2025-07-07
  response:
    body:
      string: '{"dailySleepDTO": {"id": 1751863648000, "userProfilePK": 2591602, "calendarDate":
        "2025-07-07", "sleepTimeSeconds": 24180, "napTimeSeconds": 0, "sleepWindowConfirmed":
        true, "sleepWindowConfirmationType": "enhanced_confirmed_final", "sleepStartTimestampGMT":
        1751863648000, "sleepEndTimestampGMT": 1751888248000, "sleepStartTimestampLocal":
        1751842048000, "sleepEndTimestampLocal": 1751866648000, "autoSleepStartTimestampGMT":
        null, "autoSleepEndTimestampGMT": null, "sleepQualityTypePK": null, "sleepResultTypePK":
        null, "unmeasurableSleepSeconds": 0, "deepSleepSeconds": 5280, "lightSleepSeconds":
        13440, "remSleepSeconds": 5460, "awakeSleepSeconds": 420, "deviceRemCapable":
        true, "retro": false, "sleepFromDevice": true, "averageSpO2Value": 93.0, "lowestSpO2Value":
        86, "highestSpO2Value": 100, "averageSpO2HRSleep": 46.0, "averageRespirationValue":
        13.0, "lowestRespirationValue": 9.0, "highestRespirationValue": 17.0, "awakeCount":
        1, "avgSleepStress": 14.0, "ageGroup": "ADULT", "sleepScoreFeedback": "POSITIVE_DEEP",
        "sleepScoreInsight": "NONE", "sleepScorePersonalizedInsight": "STRESS_POS_EXCELLENT_OR_GOOD_SLEEP_RESTFUL_DAY",
        "sleepScores": {"totalDuration": {"qualifierKey": "FAIR", "optimalStart":
        28200.0, "optimalEnd": 28200.0}, "stress": {"qualifierKey": "GOOD", "optimalStart":
        0.0, "optimalEnd": 15.0}, "awakeCount": {"qualifierKey": "EXCELLENT", "optimalStart":
        0.0, "optimalEnd": 1.0}, "overall": {"value": 83, "qualifierKey": "GOOD"},
        "remPercentage": {"value": 23, "qualifierKey": "EXCELLENT", "optimalStart":
        21.0, "optimalEnd": 31.0, "idealStartInSeconds": 5077.8, "idealEndInSeconds":
        7495.8}, "restlessness": {"qualifierKey": "GOOD", "optimalStart": 0.0, "optimalEnd":
        5.0}, "lightPercentage": {"value": 56, "qualifierKey": "EXCELLENT", "optimalStart":
        30.0, "optimalEnd": 64.0, "idealStartInSeconds": 7254.0, "idealEndInSeconds":
        15475.2}, "deepPercentage": {"value": 22, "qualifierKey": "EXCELLENT", "optimalStart":
        16.0, "optimalEnd": 33.0, "idealStartInSeconds": 3868.8, "idealEndInSeconds":
        7979.4}}, "sleepVersion": 2, "sleepNeed": {"userProfilePk": 2591602, "calendarDate":
        "2025-07-07", "deviceId": 3469703076, "timestampGmt": "2025-07-06T12:22:29",
        "baseline": 470, "actual": 470, "feedback": "NO_CHANGE_NO_ADJUSTMENTS", "trainingFeedback":
        "NO_CHANGE", "sleepHistoryAdjustment": "NO_CHANGE", "hrvAdjustment": "NO_CHANGE",
        "napAdjustment": "NO_CHANGE", "displayedForTheDay": false, "preferredActivityTracker":
        true}, "nextSleepNeed": {"userProfilePk": 2591602, "calendarDate": "2025-07-08",
        "deviceId": 3469703076, "timestampGmt": "2025-07-07T14:57:05", "baseline":
        470, "actual": 470, "feedback": "NO_CHANGE_NO_ADJUSTMENTS", "trainingFeedback":
        "NO_CHANGE", "sleepHistoryAdjustment": "NO_CHANGE", "hrvAdjustment": "NO_CHANGE",
        "napAdjustment": "NO_CHANGE", "displayedForTheDay": false, "preferredActivityTracker":
        true}}, "sleepMovement": null, "remSleepData": true, "sleepLevels": null,
        "wellnessSpO2SleepSummaryDTO": {"userProfilePk": 2591602, "deviceId": 3469703076,
        "sleepMeasurementStartGMT": "2025-07-07T04:48:00.0", "sleepMeasurementEndGMT":
        "2025-07-07T11:37:00.0", "alertThresholdValue": null, "numberOfEventsBelowThreshold":
        null, "durationOfEventsBelowThreshold": null, "averageSPO2": 93.0, "averageSpO2HR":
        46.0, "lowestSPO2": 86}, "skinTempDataExists": true, "avgSkinTempDeviationC":
        -0.4, "avgSkinTempDeviationF": -0.7, "bodyBatteryChange": 65, "skinTempCalibrationDays":
        19, "restingHeartRate": 44}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/sleep-service/sleep/dailySleepData?date=2030-01-01
  response:
    body:
      string: '{"dailySleepDTO": {"id": null, "userProfilePK": 2591602, "calendarDate":
        "2030-01-01", "sleepTimeSeconds": null, "napTimeSeconds": null, "sleepWindowConfirmed":
        null, "sleepWindowConfirmationType": null, "sleepStartTimestampGMT": null,
        "sleepEndTimestampGMT": null, "sleepStartTimestampLocal": null, "sleepEndTimestampLocal":
        null, "autoSleepStartTimestampGMT": null, "autoSleepEndTimestampGMT": null,
        "sleepQualityTypePK": null, "sleepResultTypePK": null, "unmeasurableSleepSeconds":
        null, "deepSleepSeconds": null, "lightSleepSeconds": null, "remSleepSeconds":
        null, "awakeSleepSeconds": null, "deviceRemCapable": false, "retro": false},
        "sleepMovement": [], "remSleepData": null, "sleepLevels": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
