interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/badge-service/badge/detail/v2/55
  response:
    body:
      string: '{
        "badgeId": 55,
        "badgeKey": "activity_new_year",
        "badgeName": "Strong Start",
        "badgeUuid": null,
        "badgeCategoryId": 1,
        "badgeDifficultyId": 1,
        "badgePoints": 1,
        "badgeTypeIds": [
          3,
          5
        ],
        "badgeSeriesId": 3,
        "badgeStartDate": "2018-01-01T00:00:00.0",
        "badgeEndDate": "2027-01-01T23:59:59.0",
        "userProfileId": 126523240,
        "fullName": "Garmin",
        "displayName": "user-guid",
        "badgeEarnedDate": "2026-01-01T13:58:28.0",
        "badgeEarnedNumber": 1,
        "premium": false,
        "badgeLimitCount": 250,
        "badgeIsViewed": true,
        "badgeProgressValue": 0.0,
        "badgeTargetValue": null,
        "badgeUnitId": null,
        "badgeAssocTypeId": 1,
        "badgeAssocType": "activityId",
        "badgeAssocDataId": "21411202296",
        "badgeAssocDataName": null,
        "earnedByMe": true,
        "currentPlayerType": null,
        "userJoined": null,
        "badgeChallengeStatusId": null,
        "badgePromotionCodeTypeList": [
          null
        ],
        "promotionCodeStatus": null,
        "createDate": "2026-01-01T14:04:22.60",
        "relatedBadges": null
      }'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
