interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/weight-service/weight/range/2025-06-14/2025-06-14?includeAll=true
  response:
    body:
      string: '{"dailyWeightSummaries": [{"summaryDate": "2025-06-14", "numOfWeightEntries":
        2, "minWeight": 59130.0, "maxWeight": 59500.0, "latestWeight": {"samplePk":
        1749948744411, "date": 1749927125175, "calendarDate": "2025-06-14", "weight":
        59500.0, "bmi": null, "bodyFat": null, "bodyWater": null, "boneMass": null,
        "muscleMass": null, "physiqueRating": null, "visceralFat": null, "metabolicAge":
        null, "sourceType": "MANUAL", "timestampGMT": 1749948725175, "weightDelta":
        299.99999999999716}, "allWeightMetrics": [{"samplePk": 1749948744411, "date":
        1749927125175, "calendarDate": "2025-06-14", "weight": 59500.0, "bmi": null,
        "bodyFat": null, "bodyWater": null, "boneMass": null, "muscleMass": null,
        "physiqueRating": null, "visceralFat": null, "metabolicAge": null, "sourceType":
        "MANUAL", "timestampGMT": 1749948725175, "weightDelta": 399.9999999999986},
        {"samplePk": 1749909217098, "date": 1749887580000, "calendarDate": "2025-06-14",
        "weight": 59130.0, "bmi": 22.5, "bodyFat": 20.3, "bodyWater": 58.2, "boneMass":
        3430, "muscleMass": 26840, "physiqueRating": null, "visceralFat": null, "metabolicAge":
        null, "sourceType": "INDEX_SCALE", "timestampGMT": 1749909180000, "weightDelta":
        -100.00000000000142}]}], "totalAverage": {"from": 1749859200000, "until":
        1749945599999, "weight": 59500.0, "bmi": null, "bodyFat": null, "bodyWater":
        null, "boneMass": null, "muscleMass": null, "physiqueRating": null, "visceralFat":
        null, "metabolicAge": null}, "previousDateWeight": {"samplePk": 1749307692871,
        "date": 1749286058000, "calendarDate": "2025-06-07", "weight": 59189.0, "bmi":
        22.600000381469727, "bodyFat": 20.0, "bodyWater": 58.4, "boneMass": 3450,
        "muscleMass": 26850, "physiqueRating": null, "visceralFat": null, "metabolicAge":
        null, "sourceType": "INDEX_SCALE", "timestampGMT": 1749307658000, "weightDelta":
        null}, "nextDateWeight": {"samplePk": 1749996902851, "date": 1749975276000,
        "calendarDate": "2025-06-15", "weight": 59720.0, "bmi": 22.799999237060547,
        "bodyFat": 19.3, "bodyWater": 58.9, "boneMass": 3539, "muscleMass": 26979,
        "physiqueRating": null, "visceralFat": null, "metabolicAge": null, "sourceType":
        "INDEX_SCALE", "timestampGMT": 1749996876000, "weightDelta": null}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
