interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/wellness-service/wellness/dailyHeartRate/?date=2026-01-07
  response:
    body:
      string: '{"userProfilePK": 2591602, "calendarDate": "2026-01-07", "startTimestampGMT":
        "2026-01-07T06:00:00.0", "endTimestampGMT": "2026-01-08T06:00:00.0", "startTimestampLocal":
        "2026-01-07T00:00:00.0", "endTimestampLocal": "2026-01-08T00:00:00.0", "maxHeartRate":
        115, "minHeartRate": 49, "restingHeartRate": 52, "lastSevenDaysAvgRestingHeartRate":
        51, "heartRateValueDescriptors": [{"key": "timestamp", "index": 0}, {"key":
        "heartrate", "index": 1}], "heartRateValues": [[1767765600000, 63], [1767765720000,
        62], [1767765840000, 60], [1767765960000, 57], [1767766080000, 62], [1767766200000,
        61], [1767766320000, 59], [1767766440000, 62], [1767766560000, 62], [1767766680000,
        61], [1767766800000, 58], [1767766920000, 61], [1767767040000, 60], [1767767160000,
        62], [1767767280000, 63], [1767767400000, 64], [1767767520000, 64], [1767767640000,
        65], [1767767760000, 65], [1767767880000, 63], [1767768000000, 64], [1767768120000,
 [...]
