interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/metrics-service/metrics/hillscore?calendarDate=2025-07-07
  response:
    body:
      string: '{"userProfilePK": 131234790, "deviceId": 3345342345, "calendarDate":
        "2025-07-07", "strengthScore": 2, "enduranceScore": 15, "hillScoreClassificationId":
        1, "overallScore": 20, "hillScoreFeedbackPhraseId": 4, "vo2Max": 48.0, "vo2MaxPreciseValue":
        48.0, "primaryTrainingDevice": true}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/metrics-service/metrics/endurancescore?calendarDate=2025-07-07
  response:
    body:
      string: '{"userProfilePK": 131234790, "deviceId": 3345342345, "calendarDate":
        "2025-07-07", "overallScore": 4820, "classification": 1, "feedbackPhrase":
        30, "primaryTrainingDevice": true, "gaugeLowerLimit": 3570, "classificationLowerLimitIntermediate":
        5100, "classificationLowerLimitTrained": 5800, "classificationLowerLimitWellTrained":
        6600, "classificationLowerLimitExpert": 7300, "classificationLowerLimitSuperior":
        8100, "classificationLowerLimitElite": 8800, "gaugeUpperLimit": 10560, "contributors":
        [{"activityTypeId": 9, "group": null, "contribution": 43.02}, {"activityTypeId":
        null, "group": 0, "contribution": 26.68}, {"activityTypeId": 3, "group": null,
        "contribution": 23.8}, {"activityTypeId": null, "group": 8, "contribution":
        6.5}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/metrics-service/metrics/endurancescore?calendarDate=2025-07-06
  response:
    body:
      string: '{"userProfilePK": 131234790, "deviceId": 3345342345, "calendarDate":
        "2025-07-06", "overallScore": 4820, "classification": 1, "feedbackPhrase":
        30, "primaryTrainingDevice": true, "gaugeLowerLimit": 3570, "classificationLowerLimitIntermediate":
        5100, "classificationLowerLimitTrained": 5800, "classificationLowerLimitWellTrained":
        6600, "classificationLowerLimitExpert": 7300, "classificationLowerLimitSuperior":
        8100, "classificationLowerLimitElite": 8800, "gaugeUpperLimit": 10560, "contributors":
        [{"activityTypeId": 9, "group": null, "contribution": 43.02}, {"activityTypeId":
        null, "group": 0, "contribution": 26.68}, {"activityTypeId": 3, "group": null,
        "contribution": 23.8}, {"activityTypeId": null, "group": 8, "contribution":
        6.5}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
