interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/weight-service/weight/range/2025-06-01/2025-06-15?includeAll=true
  response:
    body:
      string: '{"dailyWeightSummaries": [{"summaryDate": "2025-06-15", "numOfWeightEntries":
        1, "minWeight": 59720.0, "maxWeight": 59720.0, "latestWeight": {"samplePk":
        1749996902851, "date": 1749975276000, "calendarDate": "2025-06-15", "weight":
        59720.0, "bmi": 22.799999237060547, "bodyFat": 19.3, "bodyWater": 58.9, "boneMass":
        3539, "muscleMass": 26979, "physiqueRating": null, "visceralFat": null, "metabolicAge":
        null, "sourceType": "INDEX_SCALE", "timestampGMT": 1749996876000, "weightDelta":
        200.00000000000284}, "allWeightMetrics": [{"samplePk": 1749996902851, "date":
        1749975276000, "calendarDate": "2025-06-15", "weight": 59720.0, "bmi": 22.799999237060547,
        "bodyFat": 19.3, "bodyWater": 58.9, "boneMass": 3539, "muscleMass": 26979,
        "physiqueRating": null, "visceralFat": null, "metabolicAge": null, "sourceType":
        "INDEX_SCALE", "timestampGMT": 1749996876000, "weightDelta": 200.00000000000284}]},
        {"summaryDate": "2025-06-14", "numOfWeightEntries": 2, "minWeight": 59130.0,
        "maxWe[...]
