interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/wellness-service/wellness/dailyStress/2025-12-18
  response:
    body:
      string: '{"userProfilePK": 104516149, "calendarDate": "2025-12-18", "startTimestampGMT":
        "2025-12-18T06:00:00.0", "endTimestampGMT": "2025-12-19T06:00:00.0", "startTimestampLocal":
        "2025-12-18T00:00:00.0", "endTimestampLocal": "2025-12-19T00:00:00.0", "maxStressLevel":
        97, "avgStressLevel": 22, "stressChartValueOffset": 1, "stressChartYAxisOrigin":
        -1, "stressValueDescriptorsDTOList": [{"key": "timestamp", "index": 0}, {"key":
        "stressLevel", "index": 1}], "stressValuesArray": [[1766037600000, -1], [1766037780000,
        -1], [1766037960000, -1], [1766038140000, -1], [1766038320000, -1], [1766038500000,
        -1], [1766038680000, -1], [1766038860000, -1], [1766039040000, -1], [1766039220000,
        -1], [1766039400000, -1], [1766039580000, -1], [1766039760000, -1], [1766039940000,
        -1], [1766040120000, 25], [1766040300000, 25], [1766040480000, 25], [1766040660000,
        28], [1766040840000, 34], [1766041020000, -1], [1766041200000, 25], [1766041380000,
 [...]
