interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/badge-service/badge/earned
  response:
    body:
      string: '[
        {
          "badgeId": 1166,
          "badgeKey": "breath_50_times",
          "badgeName": "Deep Breathing 4",
          "badgeUuid": null,
          "badgeCategoryId": 1,
          "badgeDifficultyId": 3,
          "badgePoints": 4,
          "badgeTypeIds": [
            4
          ],
          "badgeSeriesId": 59,
          "badgeStartDate": "2020-04-28T00:00:00.0",
          "badgeEndDate": null,
          "userProfileId": 42,
          "fullName": "Garmin",
          "displayName": "user-guid",
          "badgeEarnedDate": "2026-02-18T06:05:49.0",
          "badgeEarnedNumber": 1,
          "premium": false,
          "badgeLimitCount": null,
          "badgeIsViewed": false,
          "badgeProgressValue": 50.0,
          "badgeTargetValue": 50.0,
          "badgeUnitId": 3,
          "badgeAssocTypeId": 5,
          "badgeAssocType": "none",
          "badgeAssocDataId": null,
          "badgeAssocDataName": null,
          "earnedByMe": true,
          "currentPlayerType": null,
          "userJoined": null,
          "badgeChallengeStatusId": null,
          "badgePromotionCodeTypeList": [
            null
          ],
          "promotionCodeStatus": null,
          "createDate": "2024-12-23T15:30:55.66",
          "relatedBadges": null
        },
        {
          "badgeId": 2886,
          "badgeKey": "activity_chinese_horse_year_2026",
          "badgeName": "Year of the Horse 2026",
          "badgeUuid": "A7210D7B58D14501BB209993911F18E1",
          "badgeCategoryId": 1,
          "badgeDifficultyId": 1,
          "badgePoints": 1,
          "badgeTypeIds": [
            1,
            6
          ],
          "badgeSeriesId": null,
          "badgeStartDate": "2026-02-17T00:00:00.0",
          "badgeEndDate": "202[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/badge-service/badge/available?showExclusiveBadge=true
  response:
    body:
      string: '[
        {
          "badgeId": 2918,
          "badgeKey": "challenge_run_10k_2026_02",
          "badgeName": "February Weekend 10K",
          "badgeUuid": "DF7FEB14CBD54D81A3A2388ECB888DC8",
          "badgeCategoryId": 4,
          "badgeDifficultyId": 2,
       [...]
