interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/fitnessstats-service/activity/all?startDate=2026-01-06&endDate=2026-01-12&standardizedUnits=true&metric=activityType&metric=workoutType&metric=aerobicTrainingEffect&metric=adaptiveCoachingWorkoutStatus&metric=parentId&metric=workoutGroupEnumerator
  response:
    body:
      string: '[{"activityId": 21461718086, "aerobicTrainingEffect": 2.4000000953674316,
        "parentId": null, "workoutType": null, "adaptiveCoachingWorkoutStatus": null,
        "multisportSet": null, "startLocal": "2026-01-06T07:14:18", "activityType":
        "hiking", "workoutGroupEnumerator": 1}, {"activityId": 21482825013, "aerobicTrainingEffect":
        2.700000047683716, "parentId": null, "workoutType": "ADAPTIVE_COACHING", "adaptiveCoachingWorkoutStatus":
        "COMPLETED_TODAYS_WORKOUT", "multisportSet": null, "startLocal": "2026-01-08T08:10:21",
        "activityType": "running", "workoutGroupEnumerator": 2}, {"activityId": 21492483008,
        "aerobicTrainingEffect": 0.20000000298023224, "parentId": null, "workoutType":
        null, "adaptiveCoachingWorkoutStatus": null,[...]
