interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/hrv-service/hrv/2023-07-20
  response:
    body:
      string: '{"userProfilePk": 2591602, "hrvSummary": {"calendarDate": "2023-07-20",
        "weeklyAvg": 39, "lastNightAvg": 42, "lastNight5MinHigh": 66, "baseline":
        {"lowUpper": 36, "balancedLow": 39, "balancedUpper": 52, "markerValue": 0.25},
        "status": "BALANCED", "feedbackPhrase": "HRV_BALANCED_7", "createTimeStamp":
        "2023-07-20T12:14:11.898"}, "hrvReadings": [{"hrvValue": 54, "readingTimeGMT":
        "2023-07-20T05:29:48.0", "readingTimeLocal": "2023-07-19T23:29:48.0"}, {"hrvValue":
        56, "readingTimeGMT": "2023-07-20T05:34:48.0", "readingTimeLocal": "2023-07-19T23:34:48.0"},
        {"hrvValue": 51, "readingTimeGMT": "2023-07-20T05:39:48.0", "readingTimeLocal":
        "2023-07-19T23:39:48.0"}, {"hrvValue": 50, "readingTimeGMT": "2023-07-20T05:44:48.0",
        "readingTimeLocal": "2023-07-19T23:44:48.0"}, {"hrvValue": 55, "readingTimeGMT":
        "2023-07-20T05:49:48.0", "readingTimeLocal": "2023-07-19T23:49:48.0"}, {"hrvValu[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/hrv-service/hrv/2021-07-20
  response:
    body:
      string: ''
    headers:
    status:
      code: 204
      message: No Content
version: 1
