interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/usersummary-service/stats/im/daily/2023-07-01/2023-07-20
  response:
    body:
      string: '[{"calendarDate": "2023-07-01", "weeklyGoal": 150, "moderateValue":
        0, "vigorousValue": 0}, {"calendarDate": "2023-07-02", "weeklyGoal": 150,
        "moderateValue": 55, "vigorousValue": 6}, {"calendarDate": "2023-07-03", "weeklyGoal":
        150, "moderateValue": 13, "vigorousValue": 0}, {"calendarDate": "2023-07-04",
        "weeklyGoal": 150, "moderateValue": 9, "vigorousValue": 34}, {"calendarDate":
        "2023-07-05", "weeklyGoal": 150, "moderateValue": 23, "vigorousValue": 1},
        {"calendarDate": "2023-07-06", "weeklyGoal": 150, "moderateValue": 0, "vigorousValue":
[...]
