interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/hrv-service/hrv/daily/2023-06-23/2023-07-20
  response:
    body:
      string: '{"hrvSummaries": [{"calendarDate": "2023-06-23", "weeklyAvg": 40, "lastNightAvg":
        42, "lastNight5MinHigh": 54, "baseline": {"lowUpper": 35, "balancedLow": 38,
        "balancedUpper": 52, "markerValue": 0.3214264}, "status": "BALANCED", "feedbackPhrase":
        "HRV_BALANCED_8", "createTimeStamp": "2023-06-25T04:55:32.475"}, {"calendarDate":
        "2023-06-24", "weeklyAvg": 41, "lastNightAvg": 43, "lastNight5MinHigh": 69,
        "baseline": {"lowUpper": 35, "balancedLow": 38, "balancedUpper": 52, "markerValue":
        0.35713196}, "status": "BALANCED", "feedbackPhrase": "HRV_BALANCED_5", "createTimeStamp":
        "2023-06-25T04:56:02.128"}, {"calendarDate": "2023-06-25", "weeklyAvg": 41,
        "lastNightAvg": 41, "lastNight5MinHigh": 63, "baseline": {"lowUpper": 35,
        "balan[...]
[...]
