interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/usersummary-service/stats/stress/daily/2023-07-01/2023-07-20
  response:
    body:
      string: '[{"calendarDate": "2023-07-01", "values": {"highStressDuration": 1680,
        "lowStressDuration": 21780, "overallStressLevel": 35, "restStressDuration":
        27780, "mediumStressDuration": 12660}}, {"calendarDate": "2023-07-02", "values":
        {"highStressDuration": 3600, "lowStressDuration": 11580, "overallStressLevel":
        29, "restStressDuration": 39840, "mediumStressDuration": 7740}}, {"calendarDate":
        "2023-07-03", "values": {"highStressDuration": 3060, "lowStressDuration":
        16680, "overallStressLevel": 32, "restStressDuration": 34080, "mediumStressDuration":
        11460}}, {"calendarDate": "2023-07-04", "values": {"highStressDuration": 2640,
        "[...]
