interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/mobile-gateway/usersummary/trainingstatus/weekly/2025-05-21/2025-06-11
  response:
    body:
      string: '{"vo2MaxWeeklyStatistics": {"requestUrl": "/metrics-service/metrics/maxmet/stats/daily/2025-05-21/2025-06-11",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": {"userProfileId":
        2591602, "statisticsStartDate": "2025-05-21", "statisticsEndDate": "2025-06-11",
        "allMetrics": {"metricsMap": {"ACTIVITY_VO2_MAX": [{"value": 46.0, "calendarDate":
        "2025-05-22"}, {"value": 47.0, "calendarDate": "2025-05-30"}, {"value": 48.0,
        "calendarDate": "2025-05-31"}, {"value": 48.0, "calendarDate": "2025-06-01"},
        {"value": 46.0, "calendarDate": "2025-06-03"}, {"value": 46.0, "calendarDate":
        "2025-06-05"}, {"value": 48.0, "calendarDate": "2025-06-07"}, {"value": 49.0,
        "calendarDate": "2025-06-09"}, {"value": 47.0, "calendarDate": "2025-06-10"}]}},
        "groupedMetrics": null}, "successful": true}, "weeklyTrainingStatus": {"requestUrl":
        "/metrics-service/metrics/trainingstatus/weekly/mtamizi", "statusCode": 200,
        "headers": {}, "errorMessage": null, "payload": {"userId": 2591602, "fromCalendarDate":
        "2025-05-21", "toCalendarDate": "2025-06-11", "showSelector": false, "recordedDevices":
        [{"deviceId": 3469703076, "imageURL": "https://res.garmin.com/en/products/010-02778-10/v/c1_01_md.png",
        "deviceName": "fenix 7X Pro Sapphire Solar", "category": 0}], "reportData":
        {"3469703076": [{"calendarDate": "2025-05-21", "sinceDate": null, "weeklyTrainingLoad":
        null, "trainingStatus": 4, "timestamp": 1747839970000, "deviceId": 3469703076,
        "loadTunnelMin": null, "loadTunnelMax": null, "loadLevelTrend": null, "sport":
        "RUNNING", "subSport": "GENERIC", "fitnessTrendSport": "RUNNING", "fitnessTrend":
        2, "trainingStatusFeedbackPhrase": "MAINTAINING_2", "trainingPaused": false,
        "acuteTrainingLoadDTO": {"acwrPercent": 42, "acwrStatus": "OPTIMAL", "acwrStatusFeedback":
        "FEEDBACK_2", "dailyTrainingLoadAcute": 224, "maxTrainingLoadChronic": 328.5,
        "minTrainingLoadChronic": 175.20000000000002, "dailyTrainingLoadChronic":
        219, "dailyAcuteChronicWorkloadRatio": 1.0}, "primaryTrainingDevice": true},
        {"calendarDate": "2025-05-22", "sinceDate": null, "weeklyTrainingLoad": null,
        "trainingStatus": 7, "timestamp": 1747923745000, "deviceId": 3469703076, "loadTunnelMin":
        null, "loadTunnelMax": null, "loadLevelTrend": null, "sport": "RUNNING", "subSport":
        "GENERIC", "fitnessTrendSport": "RUNNING", "fitnessTrend": 2, "trainingStatusFeedbackPhrase":
        "PRODUCTIVE_2", "trainingPaused": false, "acuteTrainingLoadDTO": {"acwrPercent":
        61, "acwrStatus"[...]
