interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
      di-backend:
      - connectapi.garmin.com
    method: GET
    uri: https://connect.garmin.com/usersummary-service/stats/im/weekly/2023-05-04/2023-07-20
  response:
    body:
      string: '[{"calendarDate": "2023-05-01", "weeklyGoal": 150, "moderateValue":
        79, "vigorousValue": 172}, {"calendarDate": "2023-05-08", "weeklyGoal": 150,
        "moderateValue": 94, "vigorousValue": 206}, {"calendarDate": "2023-05-15",
        "weeklyGoal": 150, "moderateValue": 86, "vigorousValue": 120}, {"calendarDate":
        "2023-05-22", "weeklyGoal": 150, "moderateValue": 99, "vigorousValue": 190},
        {"calendarDate": "2023-05-29", "weeklyGoal": 150, "moderateValue": 94, "vigorousValue":
        221}, {"calendarDate": "2023-06-05", "weeklyGoal": 150, "moderateValue": 195,
        "vigorousValue": 103}, {"calendarDate": "2023-06-12", "weeklyGoal": 150, "moderateValue":
        40, "vigorousValue": 73}, {"calendarDate": "2023-06-19", "weeklyGoal": 150,
        "moderateValue": 216, "vigorousValue": 70}, {"calendarDate": "2023-06-26",
        "weeklyGoal": 150, "moderateValue": 158, "vigorousValue": 77}, {"calendarDate":
        "2023-07-03", "weeklyGoal": 150, "moderateValue": 177, "vigorousValue": 48},
        {"calendarDate": "2023-07-10", "weeklyGoal": 150, "moderateValue": 185, "vigorousValue":
        58}, {"calendarDate": "2023-07-17", "weeklyGoal": 150, "moderateValue": 103,
        "vigorousValue": 9}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
