interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/mobile-gateway/usersummary/trainingstatus/monthly/2020-01-01/2020-01-01
  response:
    body:
      string: '{"monthlyTrainingStatus": {"requestUrl": "/metrics-service/metrics/trainingstatus/monthly/mtamizi",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": {"userId":
        2591602, "fromCalendarDate": "2020-01-01", "toCalendarDate": "2020-01-01",
        "showSelector": false, "recordedDevices": [], "reportData": {}}, "successful":
        true}, "vo2MaxMonthlyStatistics": {"requestUrl": "/metrics-service/metrics/maxmet/stats/weekly/2020-01-01/2020-01-01",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": {"userProfileId":
        2591602, "statisticsStartDate": "2020-01-01", "statisticsEndDate": "2020-01-01",
        "allMetrics": {"metricsMap": {}}, "groupedMetrics": null}, "successful": true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
