interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/mobile-gateway/usersummary/trainingstatus/monthly/2025-05-07/2025-06-11
  response:
    body:
      string: '{"monthlyTrainingStatus": {"requestUrl": "/metrics-service/metrics/trainingstatus/monthly/mtamizi",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": {"userId":
        2591602, "fromCalendarDate": "2025-05-07", "toCalendarDate": "2025-06-11",
        "showSelector": false, "recordedDevices": [{"deviceId": 3469703076, "imageURL":
        "https://res.garmin.com/en/products/010-02778-10/v/c1_01_md.png", "deviceName":
        "fenix 7X Pro Sapphire Solar", "category": 0}], "reportData": {"3469703076":
        [{"calendarDate": "2025-05-13", "sinceDate": null, "weeklyTrainingLoad": null,
        "trainingStatus": 5, "timestamp": 1747148450000, "deviceId": 3469703076, "loadTunnelMin":
        null, "loadTunnelMax": null, "loadLevelTrend": null, "sport": "RUNNING", "subSport":
        "GENERIC", "fitnessTrendSport": "RUNNING", "fitnessTrend": 2, "trainingStatusFeedbackPhrase":
        "RECOVERY_2", "trainingPaused": false, "acuteTrainingLoadDTO": {"acwrPercent":
        12, "acwrStatus": "LOW", "acwrStatusFeedback": "FEEDBACK_1", "dailyTrainingLoadAcute":
        77, "maxTrainingLoadChronic": 328.5, "minTrainingLoadChronic": 175.20000000000002,
        "dailyTrainingLoadChronic": 219, "dailyAcuteChronicWorkloadRatio": 0.3}, "primaryTrainingDevice":
        true}, {"calendarDate": "2025-05-20", "sinceDate": null, "weeklyTrainingLoad":
        null, "trainingStatus": 4, "timestamp": 1747752971000, "deviceId": 3469703076,
        "loadTunnelMin": null, "loadTunnelMax": null, "loadLevelTrend": null, "sport":
        "RUNNING", "subSport": "GENERIC", "fitnessTrendSport": "RUNNING", "fitnessTrend":
        2, "trainingStatusFeedbackPhrase": "MAINTAINING_2", "trainingPaused": false,
        "acuteTrainingLoadDTO": {"acwrPercent": 47, "acwrStatus[...]
