interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/usersummary-service/stats/steps/weekly/2023-07-20/52
  response:
    body:
      string: '[{"calendarDate": "2022-07-22", "values": {"totalSteps": 55744.0, "averageSteps":
        7963.428571428572, "wellnessDataDaysCount": 7, "averageDistance": 7138.571428571428,
        "totalDistance": 49970.0}}, {"calendarDate": "2022-07-29", "values": {"totalSteps":
        94875.0, "averageSteps": 13553.57142857143, "wellnessDataDaysCount": 7, "averageDistance":
        12255.42857142857, "totalDistance": 85788.0}}, {"calendarDate": "2022-08-05",
        "values": {"totalSteps": 96469.0, "averageSteps": 13781.285714285714, "wellnessDataDaysCount":
        7, "averageDistance": 12684.285714285714, "totalDistance": 88790.0}}, {"calendarDate":
        "2022-08-12", "values": {"totalSteps": 10[...]
