interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/usersummary-service/stats/stress/daily/2023-06-23/2023-07-20
  response:
    body:
      string: '[{"calendarDate": "2023-06-23", "values": {"highStressDuration": 9240,
        "lowStressDuration": 11280, "overallStressLevel": 43, "restStressDuration":
        25440, "mediumStressDuration": 12000}}, {"calendarDate": "2023-06-24", "values":
        {"highStressDuration": 420, "lowStressDuration": 25440, "overallStressLevel":
        31, "restStressDuration": 29640, "mediumStressDuration": 10800}}, {"calendarDate":
        "2023-06-25", "values": {"highStressDuration": 180, "lowStressDuration": 27660,
        "overallStressLevel": 25, "restStressDuration": 36720, "mediumStressDuration":
        2160}}, {"calendarDate": "2023-06-26", "values": {"highStressDuration": 6420,
        "lo[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/usersummary-service/stats/stress/daily/2023-05-22/2023-05-25
  response:
    body:
      string: '[{"calendarDate": "2023-05-22", "values": {"highStressDuration": 900,
        "lowStressDuration": 8880, "overallStressLevel": 21, "restStressDuration":
        38820, "mediumStressDuration": 2520}}, {"calendarDate": "2023-05-23", "values":
        {"highStressDuration": 3180, "lowStressDuration": 16500, "overallStressLevel":
        28, "restStressDuration": 35880, "mediumStressDuration": 5520}}, {"calendarDate":
        "2023-05-24", "values": {"highStressDuration": 3060, "lowStressDuration":
        15660, "overallStressLevel": 32, "restStressDuration": 37740, "mediumStressDuration":
        10440}}, {"calendarDate": "2023-05-25", "values": {"highStressDuration": 1740,
        "lowStressDuration": 12000, "overallStressLevel": 27, "restStressDuration":
        37140, "mediumStressDuration": 4200}}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
