interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/mobile-gateway/usersummary/trainingstatus/weekly/2024-06-19/2025-06-11
  response:
    body:
      string: '{"vo2MaxWeeklyStatistics": {"requestUrl": "/metrics-service/metrics/maxmet/stats/daily/2024-06-19/2025-06-11",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": {"userProfileId":
        2591602, "statisticsStartDate": "2024-06-19", "statisticsEndDate": "2025-06-11",
        "allMetrics": {"metricsMap": {"ACTIVITY_VO2_MAX": [{"value": 46.0, "calendarDate":
        "2024-06-20"}, {"value": 46.0, "calendarDate": "2024-07-03"}, {"value": 48.0,
        "calendarDate": "2024-07-04"}, {"value": 46.0, "calendarDate": "2024-07-11"},
        {"value": 47.0, "calendarDate": "2024-07-19"}, {"value": 49.0, "calendarDate":
        "2024-07-27"}, {"value": 49.0, "calendarDate": "2024-07-29"}, {"value": 49.0,
        "calendarDate": "2024-07-30"}, {"value": 48.0, "calendarDate": "2024-08-13"},
        {"value": 50.0, "calendarDate": "2024-08-21"}, {"value": 47.[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/mobile-gateway/usersummary/trainingstatus/weekly/2024-04-24/2024-06-12
  response:
    body:
      string: '{"vo2MaxWeeklyStatistics": {"requestUrl": "/metrics-service/metrics/maxmet/stats/daily/2024-04-24/2024-06-12",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": {"userProfileId":
        2591602, "statisticsStartDate": "2024-04-24", "statisticsEndDate": "2024-06-12",
        "allMetrics": {"metricsMap": {"ACTIVITY_VO2_MAX": [{"value": 46.0, "calendarDate":
        "2024-05-19"}, {"value": 46.0, "calendarDate": "2024-05-22"}, {"value": 47.0,
        "calendarDate": "2024-05-26"}, {"value": 44.0, "calendarDate": "2024-05-28"},
        {"value": 45.0, "calendarDate": "2024-05-30"}, {"value": 48.0, "calendarDate":
        "2024-06-03"}, {"value": 47.0, "calendarDate": "2024-06-04"}, {"value": 46.0,
        "calendarDate": "2024-06-06"}, {"value": 46.0, "calendarDate": "2024-06-07"},
        {"value": 45.0, "calendarDate": "2024-06-09"}, {"value": 46.0, "calendarDate":
        "2024-06-11"}, {"value": 47.0, "calendarDate": "2024-06-12"}]}}, "groupedMetrics":
        null}, "successful": true}, "weeklyTrainingStatus": {"requestUrl": "/metrics-service/metrics/trainingstatus/weekly/mtamizi",
        "statusCode": 200, "headers": {}, "errorMessage": null, "payload": {"userId":
        2591602, "fromCalendarDate": "2024-04-24", "toCalendarDate": "2024-06-12",
        "showSelector": false, "recordedDevices": [{"deviceId": 3469703076, "imageURL":
        "https://res.garmin.com/en/products/010-02778-10/v/c1_01_md.png", "deviceName":
        "fenix 7X Pro Sapphire Solar", "category": 0}], "reportData": {"3469703076":
        [{"calendarDate": "2024-04-24", "sinceDate": null, "weeklyTrainingLoad": null,
        "trainingStatus": 1, "timestamp": 1714028399000, "deviceId": 3469703076, "loadTunnelMin":
        null, "loadTunnelMax": null, "loadLevelTrend": null, "sport": "RUNNING", "subSport":
        "GENERIC", "fitnessTrendSport": "RUNNING", "fitnessTrend": 2, "trainingStatusFeedbackPhrase":
        "DETRAINING", "trainingPaused": false, "acuteTrainingLoadDTO": {"acwrPercent":
        0, "acwrStatus": "LOW", "acwrStatusFeedback": "FEEDBACK_1", "dailyTrainingLoadAcute":
        0, "maxTrainingLoadChronic": 150.0, "minTrainingLoadChronic": 80.0, "dailyTrainingLoadChronic":
        100, "dailyAcuteChronicWorkloadRatio": 0.0}, "primaryTrainingDevice": true},
        {"calendarDate": "2024-04-25", "sinceDate": null, "weeklyTrainingLoad": null,
        "trainingStatus": 1, "timestamp": 1714114799000, "deviceId": 3469703076, "loadTunnelMin":
        null, "loadTunnelMax": null, "loadLevelTrend": null, "sport": "RUNNING", "subSport":
        "GENERIC", "fitnessTrendSport": "RUNNING", "fitnessTrend": 2, "trainingStatusFeedbackPhrase":
        "DETRAINING", "trainingPaused": false, "acuteTrainingLoadDTO": {"acwrPercent":
        0, "acwrStatus": "[...]
