interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/hrv-service/hrv/daily/2023-07-01/2023-07-20
  response:
    body:
      string: '{"hrvSummaries": [{"calendarDate": "2023-07-01", "weeklyAvg": 43, "lastNightAvg":
        43, "lastNight5MinHigh": 60, "baseline": {"lowUpper": 35, "balancedLow": 38,
        "balancedUpper": 52, "markerValue": 0.42855835}, "status": "BALANCED", "feedbackPhrase":
        "HRV_BALANCED_8", "createTimeStamp": "2023-07-01T12:27:14.85"}, {"calendarDate":
        "2023-07-02", "weeklyAvg": 43, "lastNightAvg": 44, "lastNight5MinHigh": 63,
        "baseline": {"lowUpper": 35, "balancedLow": 38, "balancedUpper": 51, "markerValue":
        0.44230652}, "status": "BALANCED", "feedbackPhrase": "HRV_BALANCED_5", "createTimeStamp":
        "2023-07-02T11:54:17.128"}, {"calendarDate": "2023-07-03", "weeklyAvg": 43,
        "lastNightAvg": 48, "lastNight5MinHigh": 82, "baseline": {"lowUpper": 35,
        "balanc[...]
