interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/usersummary-service/stats/steps/daily/2023-07-01/2023-07-20
  response:
    body:
      string: '[{"calendarDate": "2023-07-01", "totalSteps": 12413, "totalDistance":
        10368, "stepGoal": 7950}, {"calendarDate": "2023-07-02", "totalSteps": 5719,
        "totalDistance": 5207, "stepGoal": 8400}, {"calendarDate": "2023-07-03", "totalSteps":
        3633, "totalDistance": 3152, "stepGoal": 8140}, {"calendarDate": "2023-07-04",
        "totalSteps": 9593, "totalDistance": 8745, "stepGoal": 8140}, {"calendarDate":
        "2023-07-05", "totalSteps": 5865, "totalDistance": 5344, "stepGoal": 8290},
        {"calendarDate": "2023-07-06", "totalSteps": 4331, "totalDistance": 3740,
      [...]
