interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sso.garmin.com/sso/embed?id=gauth-widget&embedWidget=true&gauthHost=https%3A%2F%2Fsso.garmin.com%2Fsso
  response:
    body:
      string: "<html>\n\t<head>\n\t    <title>GAuth Embedded Version</title>\n\t    <meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge;\" />\n\t    <style type=\"text/css\">\n\t
        \   \t#gauth-widget {border: none !important;}\n\t    </style>\n\t</head>\n\t<body>\n\t\t<script
        type=\"text/javascript\" src=\"/sso/js/jquery/3.1.1/jquery.min.js?20210319\"></script>\n\n<div>\n\t<pre>\t<span>ERROR:
        clientId parameter must be specified!!!</span>\n\n\t<span >Usage: https://sso.garmin.com/sso/embed?clientId=&lt;clientId&gt;&amp;locale=&lt;locale&gt;...</span>\n\n\tRequest
        parameter configuration options:\n\n\tNAME                           REQ  VALUES
        \                                                  DESCRIPTION\n\t------------------
        \            ---  -------------------------------------------------------
        \ -------------------------------------[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sso.garmin.com/sso/signin?id=gauth-widget&service=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&source=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&redirectAfterAccountLoginUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&redirectAfterAccountCreationUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&gauthHost=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\" class=\"no-js\">\n    <head>\n        <meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n        <meta
        name=\"viewport\" content=\"width=device-width\" />\n        <meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge;\" />\n        <title>GARMIN Authentication Application</title>\n
        \       <link href=\"/sso/css/GAuth.css?20210406\" rel=\"stylesheet\" type=\"text/css\"
        media=\"all\" />\n\n\t    <link rel=\"stylesheet\" href=\"\"/>\n\n        <script
        type=\"text/javascript\" src=\"/sso/js/jquery/3.1.1/jquery.min.js?20210319\"></script>\n
        \       <script type=\"text/javascript\">jQuery.noConflict();</script>\n\t\t<script
        type=\"text/javascript\" src=\"/sso/js/jquery-validate/1.16.0/jquery.validate.min.js?20210319\"></script>\n
        \       <script type=\"text/javascript\" src=\"/sso/js/jsUtils.js?20210406\"></script>\n
        \       <script type=\"text/javascript\" src=\"/sso/js/json2.js\"></script>\n
        \       <script type=\"text/javascript\" src=\"/sso/js/consoleUtils.js?20210319\"></script>\n
        \       <script type=\"[...]
- request:
    body: username=SANITIZED&password=SANITIZED&embed=true&_csrf=5E7E6502AEE2D23AF79C538FD3191F4FE6C8A3383F959F11D045459C9A01445EB2086A0CB8A5AB091E99AF71ABDE96A55619
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://sso.garmin.com/sso/signin?id=gauth-widget&service=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&source=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&redirectAfterAccountLoginUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&redirectAfterAccountCreationUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&gauthHost=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed
  response:
    body:
      string: ''
    headers:
      Content-Language:
      - en
      Location:
      - https://sso.garmin.com/sso/verifyMFA/loginEnterMfaCode?id=gauth-widget&service=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&source=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&redirectAfterAccountLoginUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&redirectAfterAccountCreationUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&gauthHost=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed
      X-Application-Context:
      - casServer:cloud,prod,prod-US_1102:6
      X-Vcap-Request-Id:
      - 68b98295-0675-4da0-752f-384933dfa674
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://sso.garmin.com/sso/verifyMFA/loginEnterMfaCode?id=gauth-widget&service=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&source=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&redirectAfterAccountLoginUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&redirectAfterAccountCreationUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&gauthHost=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang[...]
- request:
    body: mfa-code=327751&embed=true&_csrf=EE0189695747008B2E8EC630641D96EBB1B72977B0C369036002A33EA331E53ABB97DD11393EAD9545E7DD7684AF4EC1CA6D&fromPage=setupEnterMfaCode
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://sso.garmin.com/sso/verifyMFA/loginEnterMfaCode?id=gauth-widget&service=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&source=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&redirectAfterAccountLoginUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&redirectAfterAccountCreationUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&gauthHost=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&rememberMyBrowserChecked=true
  response:
    body:
      string: ''
    headers:
      Content-Language:
      - en
      Location:
      - https://sso.garmin.com/sso/login?logintoken=ustnTKB9hK&service=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&locale=en&embed=true&source=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&redirectAfterAccountLoginUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&rememberMyBrowserChecked=true
      X-Application-Context:
      - casServer:cloud,prod,prod-US_1102:6
      X-Vcap-Request-Id:
      - ba2a58f1-907d-49ff-6dcc-3249eb3600da
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://sso.garmin.com/sso/login?logintoken=ustnTKB9hK&service=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&locale=en&embed=true&source=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&redirectAfterAccountLoginUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&rememberMyBrowserChecked=true
  response:
    body:
      string: "<!DOCTYPE html>\n<html class=\"no-js\">\n\t<head>\n\t\t<title>Success</title>\n\t\t<meta
        charset=\"utf-8\">\n\t\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://connect.garmin.com/modern?ticket=ST-2170356-YsbI2WW24tRJOHZr1Lxf-cas
  response:
    body:
      string: ''
    headers:
      location:
      - https://connect.garmin.com/modern/
      x-vcap-request-id:
      - 3a485e27-9f9f-4f55-63f5-e3f97cc42276
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://connect.garmin.com/modern/
  response:
    body:
      string: ''
    headers:
      location:
      - https://sso.garmin.com/sso/login?service=https%3A%2F%2Fconnect.garmin.com%2Fmodern%2F&webhost=https%3A%2F%2Fconnect.garmin.com&gateway=true&generateExtraServiceTicket=true&generateTwoExtraServiceTickets=true
      x-vcap-request-id:
      - 34046863-11e2-48ad-5d93-ac83cdcd5292
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://sso.garmin.com/sso/login?service=https%3A%2F%2Fconnect.garmin.com%2Fmodern%2F&webhost=https%3A%2F%2Fconnect.garmin.com&gateway=true&generateExtraServiceTicket=true&generateTwoExtraServiceTickets=true
  response:
    body:
      string: ''
    headers:
      Content-Language:
      - en
      Location:
      - https://connect.garmin.com/modern/?ticket=ST-2170361-w1XugXWxvBoefRgT454i-cas
      X-Application-Context:
      - casServer:cloud,prod,prod-US_1102:6
      X-Vcap-Request-Id:
      - 5463d6d4-2bf1-49bc-509c-88197eca1707
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://connect.garmin.com/modern/?ticket=ST-2170361-w1XugXWxvBoefRgT454i-cas
  response:
    body:
      string: ''
    headers:
      location:
      - https://connect.garmin.com/modern/
      x-vcap-request-id:
      - aabeba45-a872-4d25-48a5-919a48e2513c
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://connect.garmin.com/modern/
  response:
    body:
      string: "<!DOCTYPE html>\n<html class=\"signed-in\" lang=\"es\">\n\n\n\n<head>\n
        \   <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"/>\n    <meta
        charset=\"UTF-8\"/>\n    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\"/>\n\n    <title>Garmin Connect</title>\n\n    \n\n\n    \n\n
        \   <link rel=\"shortcut icon\" href=\"/modern/images/favicon.ico\" />\n\n
        \   <!-- Connect Styles -->\n    \n        <link rel=\"stylesheet\" type=\"text/css\"
        href=\"/modern/css/dropzone.min.css?bust=4.69.0.17\" />\n        <link rel=\"stylesheet\"
        type=\"text/css\" href=\"/web-react/styles/global.css?bust=4.69.0.17\" />\n
        \   \n    \n\n    \n\n    <!-- to be modify the google fonts in cdn here -->\n
        \   <!--garmin.cn-->\n\n    \n    \n        <!-- FONTS -->\n        <link
        rel='stylesheet' type='text/css' href=\"https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,cyrillic-ext,greek-ext,vietnamese\"
        />\n    \n\n\n\n    <title>Connect</title>\n</head>\n\n\n<body>\n<a href=\"connectagent://launch\"
        id=\"notify-agent\" style=\"display: none\" tabindex=\"-1\"><!-- dummy comment
        --></a>\n\n\n\n<div class=\"connect-container\">\n\n    <nav class=\"main-nav
        hide\"><!-- main navigation --></nav>\n\n    <div class=\"react-global-modal\"><!--
        react-global-modal --></div>\n\n    <div class=\"main-body\">\n        <!--
        Header -->\n        \n\n    <header class=\"header hide\">\n        <!-- placeholder
        -->\n    </header>\n\n    <section class=\"beta-testers-survey-banner takeover-container\">\n
        \       <!-- placeholder -->\n    </section>\n\n\n<div class=\"main-header\"></div>\n\n\n
        \       <!-- Content Container -->\n        \n<div class=\"content clearfix\">\n\n
        \   \n    <script>\n        window.VIEWER_USERPREFERENCES = {\"heartRateFormat\":{\"formatKey\":\"bpm\",\"formatId\":21,\"maxFraction\":0,\"displayFormat\":null,\"groupingUsed\":false,\"minFraction\":0},\"golfSpeedUnit\":null,\"dateFormat\":{\"formatKey\":\"mmddyyyy\",\"formatId\":23,\"maxFraction\":0,\"displayFormat\":\"EEE,
        MMM d, yyyy\",\"groupingUsed\":false,\"minFraction\":0},\"displayName\":\"acamus\",\"golfDistanceUnit\":\"statute_us\",\"timeZone\":\"America\\/Chicago\",\"hydrationContainers\":[],\"hydrationMeasurementUnit\":\"milliliter\",\"powerFormat\":{\"formatKey\":\"watt\",\"formatId\":30,\"maxFraction\":0,\"displayFormat\":null,\"groupingUsed\":true,\"minFraction\":0},\"numberFormat\":\"decimal_period\",\"firstDayOfWeek\":{\"dayName\":\"sunday\",\"isPossibleFirstDay\":true,\"sortOrder\":2,\"dayId\":2},\"timeFormat\":{\"formatKey\":\"time_twenty_four_hr\",\"formatId\":33,\"maxFraction\":0,\"displayFormat\":\"H:mm\",\"groupingUsed\":false,\"minFraction\":0},\"measurementSystem\":\"metric\",\"golfElevationUnit\":null,\"preferredLocale\":\"es\"};\n
        \       window.VIEWER_SOCIAL_PROFILE = {\"runningTrainingSpeed\":0,\"swimmingTrainingSpeed\":0,\"showRecentDevice\":false,\"twitterUrl\":null,\"levelIsViewed\":false,\"bio\":null,\"activityStartVisibility\":\"private\",\"cyclingTrainingSpeed\":0,\"showHeight\":false,\"showBadges\":true,\"levelUpdateDate\":\"2020-12-12T15:20:38.0\",\"id\":3154645,\"showRecentFavorites\":false,\"makeGolfScorecardsPrivate\":true,\"activityHeartRateVisibility\":\"public\",\"profileVisibility\":\"private\",\"nameApproved\":true,\"garminGUID\":\"0690cc1d-d23d-4412-b027-80fd4ed1c0f6\",\"otherMotivation\":null,\"showAgeRange\":false,\"showLifetimeTotals\":false,\"favoriteCyclingActivityTypes\":[],\"cyclingClassification\":null,\"otherPrimaryActivity\":null,\"userPointOffset\":0,\"userRoles\":[\"ROLE_OUTDOOR_USER\",\"ROLE_CONNECTUSER\",\"ROLE_FITNESS_USER\",\"ROLE_WELLNESS_USER\",\"ROLE_CONNECT_2_USER\",\"ROLE_TACX_APP_USER\"],\"profileId\":2591602,\"showActivityClass\":false,\"profileImageUrlSmall\":\"https:\\/\\/s3.amazonaws.com\\/garmin-connect-prod\\/profile_images\\/6302f021-0ec7-4dc9-b0c3-d5a19bc5a08c-2591602.png\",\"showRecentGear\":false,\"showLast12Months\":false,\"showGender\":false,\"displayName\":\"acamus\",\"personalWebsite\":null,\"motivation\":null,\"primaryActivity\":null,\"facebookUrl\":null,\"userLevel\":3,\"userPro\":false,\"favoriteActivityTypes\":[],\"courseVisibility\":\"public\",\"profileImageUuid\":\"73240e81-6e4d-43fc-8af8-c8f6c51b3b8f\",\"userPoint\":117,\"badgeVisibility\":\"private\",\"fullName\":\"Albert
        Camus\",\"showWeightClass\":false,\"allowGolfScoringByConnections\":true,\"levelPointThreshold\":140,\"userName\":\"acamus\",\"showVO2Max\":false,\"allowGolfLiveScoring\":false,\"profileImageUrlMedium\":\"https:\\/\\/s3.amazonaws.com\\/garmin-connect-prod\\/profile_images\\/685a19e9-a7be-4a11-9bf9-faca0c5d1f1a-2591602.png\",\"otherActivity\":null,\"showUpcomingEvents\":false,\"showAge\":false,\"profileImageUrlLarge\":\"https:\\/\\/s3.amazonaws.com\\/garmin-connect-prod\\/profile_images\\/73240e81-6e4d-43fc-8af8-c8f6c51b3b8f-2591602.png\",\"location\":\"Ciudad
        de M\xE9xico, CDMX\",\"showPersonalRecords\":false,\"activityMapVisibility\":\"public\",\"userProfileFullName\":\"Albert
        Camus\",\"cyclingMaxAvgPower\":0,\"showWeight\":false,\"activityPowerVisibility\":\"public\"};\n
        \       window.VIEWER_DASHBOARDS = [{\"dashboardTitle\":\"\",\"dashboardId\":3282008,\"dashboardOrder\":0,\"ownerId\":2591602,\"dashboardTitleKey\":\"fitness_dashboard\"},{\"dashboardTitle\":\"\",\"dashboardId\":55801129,\"dashboardOrder\":1,\"ownerId\":2591602,\"dashboardTitleKey\":\"wellness_dashboard\"},{\"dashboardTitle\":\"\",\"dashboardId\":55801130,\"dashboardOrder\":2,\"ownerId\":2591602,\"dashboardTitleKey\":\"golf_dashboard\"}];\n\n
        \       window.queueNotificationTimeout = 600000;\n        window.queuePollRate
        = 600000;\n\n        window.ERROR_VIEW = null;\n        window.USER_PROFILE
        = null;\n\n        window.viewerIsAuthenticated = true;\n\n        window.SYSTEM_TIME_GMT
        = 1690031871925;\n        window.SESSION_LENGTH = 2700000;\n        window.GAUTH_HOST
        = \"https:\\/\\/sso.garmin.com\\/sso\";\n        window.GARMIN_APP_URL = \"https:\\/\\/apps.garmin.com\\/connect?locale={locale}\";\n
        \       window.WEB_TOKEN = \"\";\n        window.URL_BUST_VALUE = \"4.69.0.17\";\n\n
        \       window.IS_READONLY = null;\n        window.PRODUCT_SUPPORT_MODE =
        null;\n\n        window.JS_ERROR = true;\n        window.DI_BACKENDS = {\"golf\":\"golf.garmin.com\",\"ghs\":\"ghs.connect.garmin.com\",\"insights\":\"insights.gcs.garmin.com\",\"gcs\":\"api.gcs.garmin.com\",\"gcapi\":\"connectapi.garmin.com\",\"omt\":\"omt.garmin.com\",\"gcsalt\":\"gcs.garmin.com\",\"atp\":\"atp.gcs.garmin.com\"};\n
        \       window.PREFERENCES = {\"ce34657d-8a85-4b6e-8bb4-00897590c217\":\"ROLE_DI_TESTER\",\"5c8d3401-e6e7-4354-9095-39526016a47c\":\"ROLE_CONNECTUSER\",\"d3c94498-8962-4a62-bd3a-0d80a08e3386\":\"false\",\"7ae52c9a-1967-46e9-952f-3e40e3770bde\":\"ROLE_DI_TESTER\"};\n
        \   </script>\n\n    <script src=\"/web-react/static/js/vendor.js?bust=4.69.0.17\"></script>\n
        \   <script src=\"/web-react/static/js/backbone-lib.js?bust=4.69.0.17\"></script>\n
        \   <script src=\"/web-react/static/js/bundle.js?bust=4.69.0.17\"></script>\n</div>\n\n
        \       <!-- END .content -->\n\n        <!-- Footer -->\n        <div class=\"main-footer\"></div>\n
        \       <!-- END .footer -->\n        <p style=\"display: none;\" id=\"garmin-connect-version\">4.69.0.17</p>\n
        \   </div>\n\n    <!-- END .container -->\n</div>\n\n<style>\n    .privacy-overlay
        {\n        position: fixed; /* Sit on top of the page content */\n        width:
        100%; /* Full width (cover the whole page) */\n        height: 100%; /* Full
        height (cover the whole page) */\n        top: 0;\n        left: 0;\n        background-color:
        #fff;\n        z-index: 9999; /* Specify a stack order in case you're using
        a different order for other elements */\n    }\n</style>\n\n<div id=\"overlay\"
        class=\"privacy-overlay\">\n</div>\n\n<script defer src=\"https://static.cloudflareinsights.com/beacon.min.js/v2cb3a2ab87c5498db5ce7e6608cf55231689030342039\"
        integrity=\"sha512-DI3rPuZDcpH/mSGyN22erN5QFnhl760f50/te7FTIYxodEF8jJnSFnfnmG/c+osmIQemvUrnBtxnMpNdzvx1/g==\"
        data-cf-beacon='{\"rayId\":\"7eabf75a488b1547\",\"version\":\"2023.4.0\",\"b\":1,\"token\":\"1bd18b8f69214e379ef7bd34509191ae\",\"si\":100}'
        crossorigin=\"anonymous\"></script>\n</body>\n\n\n\n</html>"
    headers:
      Content-Type:
      - text/html;charset=UTF-8
      content-language:
      - en-US
      x-vcap-request-id:
      - 35da0075-f093-4460-5627-51c31a9caf90
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://connect.garmin.com/modern/di-oauth/exchange
  response:
    body:
      string: '{"scope": "COMMUNITY_COURSE_READ GOLF_API_READ GHS_HID ATP_READ GHS_SAMD
        INSIGHTS_READ COMMUNITY_COURSE_WRITE CONNECT_WRITE DIVE_SHARED_READ GHS_REGISTRATION
        GOLF_API_WRITE INSIGHTS_WRITE PRODUCT_SEARCH_READ GOLF_SHARED_READ CONNECT_NON_SOCIAL_SHARED_READ
        CONNECT_READ ATP_WRITE", "jti": "SANITIZED", "access_token":
        "SANITIZED", "token_type": "Bearer", "refresh_token": "SANITIZED", "expires_in":
        3599, "refresh_token_expires_in": 7199}'
    headers:
      Content-Type:
      - application/json
      x-vcap-request-id:
      - f29cd951-1c6f-461b-73a5-aa1ae2e83a86
    status:
      code: 200
      message: OK
version: 1
