interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sso.garmin.com/sso/embed?id=gauth-widget&embedWidget=true&gauthHost=https%3A%2F%2Fsso.garmin.com%2Fsso
  response:
    body:
      string: "<html>\n\t<head>\n\t    <title>GAuth Embedded Version</title>\n\t    <meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge;\" />\n\t    <style type=\"text/css\">\n\t
        \   \t#gauth-widget {border: none !important;}\n\t    </style>\n\t</head>\n\t<body>\n\t\t<script
        type=\"text/javascript\" src=\"/sso/js/jquery/3.1.1/jquery.min.js?20210319\"></script>\n\n<div>\n\t<pre>\n\t<span>ERROR:
        clientId parameter must be specified!!!</span>\n\n\t<span >Usage: https://sso.garmin.com/sso/embed?clientId=&lt;clientId&gt;&amp;locale=&lt;locale&gt;...</span>\n\n\tRequest
        parameter configuration options:\n\n\tNAME                           REQ  VALUES
        \                                                  DESCRIPTION\n\t------------------
        \            ---  -------------------------------------------------------
        \ -------------------------------------[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sso.garmin.com/sso/signin?id=gauth-widget&embedWidget=true&gauthHost=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&service=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&source=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&redirectAfterAccountLoginUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&redirectAfterAccountCreationUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\" class=\"no-js\">\n    <head>\n        <meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n        <meta
        name=\"viewport\" content=\"width=device-width\" />\n        <meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge;\" />\n        <title>GARMIN Authentication Application</title>\n
        \       <link href=\"/sso/css/GAuth.css?20210406\" rel=\"stylesheet\" type=\"text/css\"
        media=\"all\" />\n\n\t    <link rel=\"stylesheet\" href=\"\"/>\n\n        <script
        type=\"text/javascript\" src=\"/sso/js/jquery/3.1.1/jquery.min.js?20210319\"></script>\n
        \       <script type=\"text/javascript\">jQuery.noConflict();</script>\n\t\t<script
        type=\"text/javascript\" src=\"/sso/js/jquery-validate/1.16.0/jquery.validate.min.js?20210319\"></script>\n
        \       <script type=\"text/javascript\" src=\"/sso/js/jsUtils.js?20210406\"></script>\n
        \       <script type=\"text/javascript\" src=\"/sso/js/json2.js\"></script>\n
        \       <script type=\"text/javascript\" src=\"/sso/js/consoleUtils.js?20210319\"></script>\n
        \       <script type=\"[...]
- request:
    body: username=SANITIZED&password=SANITIZED&embed=true&_csrf=DAA89CB8362ABB6DB2548101BE44A857AFCE1CC8C7B0825A54361D5D1FB60E47649DA070B388D04CB797C2AD4C9B9FAF9E3C
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://sso.garmin.com/sso/signin?id=gauth-widget&embedWidget=true&gauthHost=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&service=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&source=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&redirectAfterAccountLoginUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed&redirectAfterAccountCreationUrl=https%3A%2F%2Fsso.garmin.com%2Fsso%2Fembed
  response:
    body:
      string: "<!DOCTYPE html>\n<html lan[...]
