interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
      di-backend:
      - connectapi.garmin.com
    method: GET
    uri: https://connect.garmin.com/usersummary-service/stats/stress/daily/2023-07-21/2023-07-21
  response:
    body:
      string: '[{"calendarDate": "2023-07-21", "values": {"highStressDuration": 3240,
        "lowStressDuration": 20280, "overallStressLevel": 35, "restStressDuration":
        31020, "mediumStressDuration": 11640}}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
