interactions:
- request:
    body: '[{"changeState": "CHANGED", "trainingMethod": "HR_RESERVE", "lactateThresholdHeartRateUsed":
      170, "maxHeartRateUsed": 185, "restingHrAutoUpdateUsed": false, "sport": "DEFAULT",
      "zone1Floor": 130, "zone2Floor": 140, "zone3Floor": 150, "zone4Floor": 160,
      "zone5Floor": 170}]'
    headers:
      Authorization:
      - Bearer SANITIZED
      Content-Type:
      - application/json
    method: PUT
    uri: https://connectapi.garmin.com/biometric-service/heartRateZones
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/biometric-service/heartRateZones
  response:
    body:
      string: '[{"trainingMethod": "HR_RESERVE", "restingHeartRateUsed": 42, "lactateThresholdHeartRateUsed":
        170, "zone1Floor": 130, "zone2Floor": 140, "zone3Floor": 150, "zone4Floor":
        160, "zone5Floor": 170, "maxHeartRateUsed": 185, "restingHrAutoUpdateUsed":
        false, "sport": "DEFAULT", "changeState": "UNCHANGED"}]'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
