interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://connect.garmin.com/modern/di-oauth/exchange
  response:
    body:
      string: '{"scope": "COMMUNITY_COURSE_READ GOLF_API_READ GHS_HID ATP_READ GHS_SAMD
        INSIGHTS_READ COMMUNITY_COURSE_WRITE CONNECT_WRITE DIVE_SHARED_READ GHS_REGISTRATION
        GOLF_API_WRITE INSIGHTS_WRITE PRODUCT_SEARCH_READ GOLF_SHARED_READ CONNECT_NON_SOCIAL_SHARED_READ
        CONNECT_READ ATP_WRITE", "jti": "SANITIZED", "access_token": "SANITIZED",
        "token_type": "Bearer", "refresh_token": "SANITIZED", "expires_in": 3599,
        "refresh_token_expires_in": 7199}'
    headers:
      Content-Type:
      - application/json
      x-vcap-request-id:
      - b3da260b-a319-4682-54b1-2eb0401bb301
    status:
      code: 200
      message: OK
version: 1
