interactions:
- request:
    body: '{"refresh_token": "SANITIZED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.garmin.com/services/auth/token/refresh
  response:
    body:
      string: '{"access_token": "SANITIZED", "token_type": "bearer", "refresh_token":
        "SANITIZED", "expires_in": 3599, "scope": "COMMUNITY_COURSE_READ GOLF_API_READ
        GHS_HID ATP_READ GHS_SAMD INSIGHTS_READ COMMUNITY_COURSE_WRITE CONNECT_WRITE
        DIVE_SHARED_READ GHS_REGISTRATION GOLF_API_WRITE INSIGHTS_WRITE PRODUCT_SEARCH_READ
        GOLF_SHARED_READ CONNECT_NON_SOCIAL_SHARED_READ CONNECT_READ ATP_WRITE", "jti":
        "SANITIZED", "refresh_token_expires_in": 7199}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"695-06sM1EKqILFTnvbNt7w08+ZJ9Rs"
      x-vcap-request-id:
      - 7dd8a031-3d6c-46a5-49c9-4d62c693158d
    status:
      code: 201
      message: Created
version: 1
