interactions:
- request:
    body: '{"refresh_token": "SANITIZED"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://connect.garmin.com/services/auth/token/refresh
  response:
    body:
      string: '{"access_token": "SANITIZED", "token_type": "bearer", "refresh_token":
        "SANITIZED", "expires_in": 3599, "scope": "COMMUNITY_COURSE_READ GOLF_API_READ
        GHS_HID ATP_READ GHS_SAMD INSIGHTS_READ COMMUNITY_COURSE_WRITE CONNECT_WRITE
        DIVE_SHARED_READ GHS_REGISTRATION GOLF_API_WRITE INSIGHTS_WRITE PRODUCT_SEARCH_READ
        GOLF_SHARED_READ CONNECT_NON_SOCIAL_SHARED_READ CONNECT_READ ATP_WRITE", "jti":
        "SANITIZED", "refresh_token_expires_in": 7199}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      etag:
      - W/"695-9Q5brgk5h/DSYtrOqWukrPsjQi0"
      x-vcap-request-id:
      - 79fabd93-6cf3-401a-48a1-10dc6d7925a1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
      di-backend:
      - connectapi.garmin.com
    method: GET
    uri: https://connect.garmin.com/usersummary-service/stats/stress/daily/2023-07-21/2023-07-21
  response:
    body:
      string: '[{"calendarDate": "2023-07-21", "values": {"highStressDuration": 3240,
        "lowStressDuration": 20280, "overallStressLevel": 35, "restStressDuration":
        31020, "mediumStressDuration": 11640}}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
