interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sso.garmin.com/mobile/sso/en/sign-in?clientId=GCM_ANDROID_DARK
  response:
    body:
      string: "<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\" lang=\"en\">\n
        \   <head>\n        <title>Garmin SSO Portal</title>\n        <meta charset=\"UTF-8\">\n
        \       <meta name=\"description\" content=\"Garmin SSO Portal\">\n        <link
        rel=\"stylesheet\" type=\"text/css\" href=\"https://fonts.garmin.com/static.garmin.com/fonts/oswald/oswald.css\">\n
        \       <script type=\"module\" crossorigin src=\"/mobile/assets/index-9c0317d11cf8cf70cbae211cab04890d.js\"></script><!--
        Url format to ensure cache busting using thymeleaf-->\n        <link rel=\"stylesheet\"
        href=\"/mobile/assets/index-93cdaf716a3b89c6dddacff0ab07ac76.css\"><!-- Url
        format to ensure cache busting using thymeleaf-->\n        <script>\n\n            var
        GarminAppBootstrap = {\n                messages: {\"dobEntryConfirmAgeHeading\":\"Account
        Setup\",\"casLoginViewPageTitle\":\"GARMIN Authentication Application\",\"mfaPhoneNumberEntryHeadingThree\":\"Phone
        number\",\"mobileCasLoginViewPageTitle\":\"Login\",\"codeEntryHavingTrouble\":\"Get
        help\",\"dobEntryConfirmAgeTextUsages\":\"These details help us:\\n\\n- Calculate
        performance stats like VO2 max\\n- Determine health stats like fitness age\\n-
        Enable certain app-specific features\\n- Comply with global regulations\",\"mfaSelectionContentPermMfa\":\"We'll
        send a security code to your email.\",\"casLoginViewPageHeaderChina\":\"Garmin
        Account Sign In - Chinese Mainland\",\"loginEnterMfaCodePageTitle\":\"Enter
        MFA code for login\",\"codeEntryVerifyWithDifferentMethod\":\"Choose a different
        way to verify\",\"dobEntryDateOfBirthTitle\":\"Account Setup\",\"generalHeaderPleaseCheck\":\"Please
        check the following\",\"generalLoginAccountDisabled\":\"Your account has been
        disabled.\",\"generalLoginPermanentMFARequiredResetPassword\":\"Password has
        been updated. Two-step verification is required to access your account. Please
        visit {0}\\/account to log in and complete this setup.\",\"generalTextContactUs\":\"Contact
        Us\",\"generalButtonNo\":\"No\",\"dobEntryDateOfBirthDayLabel\":\"Day\",\"generalLoginAccountProblem\":\"There
        is a problem with your account. Please contact {0}Product Support{1} for help.\",\"generalValidationDisplayNameTooShort\":\"Display
        Name must be at least 4 characters.\",\"casLoginViewRenewPassword\":\"We\\u2019ve
        updated our password requirements to help protect our customers\\u2019 accounts.
        Looks like your password does not meet our new guidelines. Please update your
        password now.\",\"dobEntryCountryRequiredError\":\"Please enter your country
        of residence.\",\"legalConfirmAge\":\"I am at least {0} years old.\",\"generalValidationMaxLogins\":\"Maximum
        number of logins exceeded. Please try again later.\",\"generalTextDisplayNameHint\":\"Your
        public activities show this name.\",\"dobEntryDateOfBirthHint\":\"Date of
        birth helps us comply with global regulations and calculate certain metrics.
        Once set, it cannot be changed.\",\"generalValidationEmailorUsernameReqd\":\"Email
        is required.\",\"generalHeaderSetEmailAddress\":\"Enter Email Address\",\"generalValidationNameInvalid\":\"Please
        use letters only for your name.\",\"fourOhFourHeader\":\"Sorry, we can\\u2019t
        find that page\",\"mobileVerifyAccountSetPhonePageTitle\":\"Update Phone Number\",\"demotedAccountEntryWaitingParentSetupText\":\"This
        email will allow your parent to become an administrator for your Garmin account.
        Once this process is complete, you can sign in and begin using your account.
        Ask them to check their email to get started.\",\"generalLoginSocialAccountAlreadyLinked\":\"Your
        Garmin account is already connected to a {0} account. Would you like to disconnect
        from that account and connect to this new {0} account?\",\"setupMfaOptInContent\":\"By
        accepting this request, you agree to receive text messages at the phone number
        provided above. You can reply to these text messages with HELP for Help or
        STOP to stop receiving messages at any time. Message and data rates may apply.
        Message frequency may vary. View our {0}Privacy Policy{1} and {2}Terms of
        Use{3}.\",\"verifyAccountSetPhonePageTitle\":\"Update Phone Number\",\"mfaSelectionPageTitle\":\"Select
        the MFA method\",\"mfaPhoneNumberEntryDisplayTitle\":\"Phone number\",\"generalTextForgot\":\"(Forgot?)\",\"generalLoginThisFieldIsRequired\":\"This
        field is required\",\"setupMfaRequiredContentTitle\":\"Two-step verification
        required\",\"generalTextDisplayName\":\"Display Name\",\"generalLoginAlreadyHaveAnAccount\":\"Already
        have an account?\",\"legalAcceptPrivacyPolicy\":\"I have read Garmin\\u2019s
        Privacy Policy.\",\"generalLoginMobileAccountProblem\":\"There is a problem
        with your account. Please contact Product Support for help.\",\"legalTermsOfUse\":\"Terms
        of Use\",\"childAccountEntryWaitingParentSetupText\":\"This email will help
        your parent or guardian create your Garmin account. Ask them to check their
        email to get started.\",\"dobEntryDateOfBirthMonthSeptember\":\"September\",\"casLoginViewChangePasswordDesc\":\"To
        ensure the security of your account, please choose a new password.\",\"dobEntryConfirmAgeChangeWarning\":\"Once
        set, this cannot be changed later.\",\"generalLoginProblem\":\"We\\u2019re
        unable to access your account. Please try again later, or contact {0}Product
        Support{1}.\",\"legalTermsPageTitle\":\"Garmin Terms of Use\",\"generalLoginMobileProblem\":\"We\\u2019re
        unable to access your account. Please try again later, or contact Product
        Support.\",\"setupMfaEmailRequiredContent\":\"To continue, you\\u2019ll need
        to set up two-step verification for your account. \\n\\nTwo-step verification
        adds an extra layer of protection to your account. Whenever you sign in to
        Garmin.com to make a purchase or use one of our apps, you\\u2019ll be prompted
        to enter your password, followed by a security code that we will send you
        in an email. \\n\\nWithout setting up two-step verification, you won\\u2019t
        be able to sign in to this application.\",\"generalValidationVerificationCodeWrongLength\":\"Verification
        code must be exactly 8 characters long.\",\"mfaPhoneNumberEntryTextOne\":\"Enter
        your phone number and we'll send your security code.\",\"mfaSelectionDifferentPhone\":\"Use
        a different number\",\"generalValidationUsernameInvalidChars\":\"Please use
        only letters and numbers for your username.\",\"casLoginViewGigyaNotSupported\":\"Note:
        For security, we no longer support social network sign-in options for Android
        4.3 or older.\",\"generalValidationEmailTooLong\":\"Email Address must be
        100 characters or fewer.\",\"generalValidationDisplayNameReqd\":\"Display
        Name is required.\",\"generalValidationPasswordsBothReqd\":\"Please specify
        your password in both fields.\",\"dobEntryDateOfBirthMonthMarch\":\"March\",\"generalLoginSocialSina\":\"Sign
        in with Sina\",\"createOrLinkDoHaveGarminAccount\":\"I do have a Garmin Account.\",\"codeEntryCodeSent\":\"A
        new code has been sent. You can request another code in 30 seconds.\",\"generalLoginYourSessionHasExpired\":\"Your
        session has expired.\",\"codeEntryHavingTroubleLink\":\"https:\\/\\/support.garmin.com\\/{0}\\/?faq=uGHS8ZqOIhA0usBzBMdJu7\",\"setupMfaConfirmationPageTitle\":\"MFA
        confirmation\",\"generalTextRememberThisBrowser\":\"Remember this browser\",\"generalTextTempPasswordSentWithEmailOrPhone\":\"If
        the email address or phone number you entered matches one we have on file,
        we will send you a temporary password to access your account.\",\"childAccountEntryNameLabel\":\"Your
        name\",\"mobileCreateAccEnterPhoneNumber\":\"Enter Phone Number\",\"generalTextTempPasswordSent\":\"If
        the email address you entered matches one we have on file, we will send you
        a temporary password to access your account.\",\"createAccUpdatePhoneNumber\":\"Update
        Phone number\",\"createAccSecurityCodeMaxLimit\":\"We are currently experiencing
        technical difficulties.  Please try again in 24 hours.\",\"generalLoginMobileAccountDisabled\":\"Your
        account has been disabled.\",\"generalValidationUsernameTooLong\":\"Username
        must be 100 characters or fewer.\",\"createOrLinkNoGarminAccount\":\"I don't
        have a Garmin Account.\",\"generalButtonDecline\":\"Decline\",\"dobEntryIneligibleAgeTitle\":\"Unable
        to Continue\",\"casLoginViewNotYou\":\"(Not You?)\",\"createOrLinkPageTitle\":\"Create
        Or Link Social Account\",\"generalTextLocationPromptCountryOrRegion\":\"Country\\/Region\",\"generalLoginMobileAccountLocked\":\"Your
        account has been locked. Please reset your password.\",\"INVALIDTICKET\":\"ticket
        ''{0}'' not recognized\",\"generalValidationLocationReqd\":\"Location is required.\",\"mfaPhoneNumberEntryPrivacyStatement\":\"{0}Privacy
        Policy{1}\",\"generalValidationDisplayNameTooLong\":\"Display Name must be
        100 characters or fewer.\",\"generalTextUsername\":\"Username\",\"noCustomerFoundError\":\"No
        Customer found\",\"dobEntryInfoInstructions\":\"We need to know your age and
        country of residence. These details help us:\",\"mobileVerifyAccountPageTitle\":\"Verify
        Account\",\"dobEntryDateOfBirthMonthJanuary\":\"January\",\"generalButtonCreateAccount\":\"Create
        Account\",\"mfaPhoneNumberEntryInvalidNumberError\":\"Please enter a valid
        phone number\",\"casLoginViewCreateAccount\":\"Create One\",\"createAccConnectEmailSignupLabel\":\"Sign
        Up for Email:\",\"dobEntryDateOfBirthMonthDecember\":\"December\",\"INVALIDREQUESTPROXY\":\"'pgt'
        and 'targetService' parameters are both required\",\"generalLoginSignInWithDiffAccount\":\"Sign
        in with a Different Account\",\"applicationSecurityPolicyLoginDeniedTitle\":\"Unable
        to Sign In\",\"mfaPhoneNumberEntryOptInTextOne\":\"Enter your phone number
        to enroll in two-step verification, and we'll send your security code.\",\"mfaPhoneNumberEntryCountryUnitedKingdom\":\"United
        Kingdom (+2)\",\"dobEntryDateOfBirthInstructions\":\"To get started, we need
        to know your age and country of residence. These details help us comply with
        global regulations and calculate certain metrics. Once set, they cannot be
        changed.\",\"generalValidationPasswordTooLong\":\"Password must be 50 characters
        or less.\",\"createAccConnectEmailSignupText\":\"Send me email about promotions
        and new products.\",\"generalTextPhoneNumberHint\":\"Enter your phone number.\",\"createAccUsernameExists\":\"An
        account with this username already exists. Please {0}sign in{1} to that account,
        or, if you want to create a new account, enter a different username.\",\"mfaSelectionAddPhone\":\"Add
        a phone number\",\"mobileCreateaccOrCreateUsing\":\"Or create your account
        using\",\"mfaSelectionAddEmail\":\"Add an email address\",\"casLoginViewReauth\":\"Security
        is important. Please sign in again to confirm your identity.\",\"generalTextHide\":\"Hide\",\"createOrLinkCreateAccountLink\":\"This
        is my first time signing in to Garmin.\",\"generalButtonNext\":\"Next\",\"dobEntryDateOfBirthInvalid\":\"Invalid
        date\",\"mfaEmail\":\"Email\",\"generalButtonRecoverPassword\":\"Recover Password\",\"generalButtonBack\":\"Back\",\"mfaPhoneNumberEntryInvalidInputError\":\"Something
        went wrong. Please try again.\",\"createSocAccPageTitle\":\"Create Social
        Account\",\"generalLoginResetPasswordDesc\":\"Enter the email address associated
        with your account.\",\"dobEntryDateOfBirthMonthLabel\":\"Month\",\"dobEntryDateOfBirthMonthOctober\":\"October\",\"generalHeaderSetEmailAddressOrPhoneNumber\":\"Enter
        Email Address or Phone Number\",\"codeEntrySentCode\":\"Code sent to \",\"generalTextFullName\":\"Full
        Name\",\"screenLogoutSecurity\":\"For security reasons, exit your web browser.\",\"generalTextEmailAddressHint\":\"You'll
        use your email address to sign in.\",\"INVALIDSERVICE\":\"ticket ''{0}'' does
        not match supplied service.  The original service was ''{1}'' and the supplied
        service was ''{2}''.\",\"generalTextMobilePhoneNumber\":\"Phone\",\"screenLogoutRedirect\":\"The
        service from which you arrived has supplied a <a href=\\\"{0}\\\">link you
        may follow by clicking here<\\/a>.\",\"legalAcceptTerms\":\"I have read and
        agree to the Terms of Use.\",\"generalTextRetypePassword\":\"Confirm password\",\"generalTextEmailOrUsername\":\"Email
        address\",\"generalButtonConfirm\":\"Confirm\",\"mobileVerifyVerificationCodeMessage\":\"A
        verification code has been sent to your phone number:\",\"createSocAccCreateSocAccDesc\":\"Before
        your first sign in, we need a little information. What you enter here will
        not affect your {0} account. If you already have a Garmin account, please
        {1}sign in{2}.  When you are finished, please remember to sign out of both
        your Garmin account and your social network account if you use a shared computer.\",\"createAccDisplayNameExists\":\"An
        account with this display name already exists. If you want to create a new
        account, enter a different display name.\",\"generalTextCapsLockOn\":\"Caps
        lock is on.\",\"generalLoginResetPasswordAdditional\":\"For additional help,
        contact {0}Product Support{1}.\",\"generalHeaderSignIn\":\"Sign In\",\"generalLoginContinueAsGuest\":\"Continue
        as Guest\",\"dobEntryDateOfBirthValidationReqd\":\"Date of birth is required.\",\"generalValidationPasswordTooShort\":\"Password
        must be at least 8 characters.\",\"dobEntryDateOfBirthMonthMay\":\"May\",\"generalButtonAcceptContinue\":\"Accept
        \\u0026 Continue\",\"embedUsage\":\"Usage: {0}?{1}=<{1}>\\u0026{2}=<{2}>...\",\"generalTextPasswordHint\":\"Minimum
        password length is 8 characters. Please use at least 1 uppercase letter, 1
        lowercase letter and 1 number.\",\"generalValidationNameReqd\":\"Name is required.\",\"casLoginViewRetypeEmailAddress\":\"Confirm
        email address\",\"mfaPhoneNumberEntryPrivacyPolicy\":\"Privacy Policy\",\"generalButtonSignIn\":\"Sign
        In\",\"dobEntryDateOfBirthLabel\":\"Date of birth\",\"createAccVerificationCodeMessage\":\"A
        verification code has been sent to your phone number: {0}. Use the code to
        login.\",\"generalTextLocationPromptHint\":\"Country or region of residence
        helps us comply with global regulations and calculate certain metrics. Once
        set, it cannot be changed.\",\"generalHeaderSetDisplayName\":\"Choose Display
        Name\",\"casLoginViewWelcomeBack\":\"Welcome back, {0}.\",\"generalTextPassword\":\"Password\",\"generalButtonGoBack\":\"Go
        back\",\"createAccOrCreateWithSocial\":\"Or, create your account using:\",\"loginChooseMfaMethodPageTitle\":\"Choose
        the MFA method\",\"generalTextGlobalLogout\":\"Sign me out of all Garmin sites
        and apps.\",\"generalTextLocationSelectOne\":\"Select one...\",\"generalTextOrCreateAccount\":\"Or
        create your account using\",\"mfaPhoneNumberEntryPageTitle\":\"Enter Your
        Phone Number\",\"footerTermsOfUse\":\"Terms of Use\",\"generalLoginForgotUsernameTooltip\":\"Use
        your email address to sign in if you forgot your username. If you did not
        save an email address in your account, or do not remember it, please contact
        {0}Product Support{1}.\",\"dobEntryDateOfBirthYearLabel\":\"Year\",\"footerCopyRight\":\"Copyright
        \\u00A9 1996-{0} Garmin Ltd. or its subsidiaries\",\"createAccMobileUsernameExists\":\"An
        account with this username already exists. Please sign in to that account,
        or, if you want to create a new account, enter a different username.\",\"screenLogoutSuccess\":\"You
        have successfully logged out of the Central Authentication Service.\",\"generalButtonSignOut\":\"Sign
        out\",\"footerPrivacy\":\"Privacy Policy\",\"casLoginViewSignInWithDiffAccount\":\"Sign
        in with a Different Account\",\"generalTextLocationPrompt\":\"Country of Residence\",\"generalLoginSocialQq\":\"Sign
        in with QQ\",\"dobEntryDateOfBirthMonthJune\":\"June\",\"generalHeaderChangePassword\":\"Change
        Password\",\"mobileCreateAccVerifyYourAccount\":\"Verify Your Account\",\"mfaButtonContinue\":\"Continue\",\"generalLoginInvalidUsernameOrPassword\":\"Invalid
        sign in. (Passwords are case sensitive.)\",\"codeEntrySentCodeText\":\"Text
        message was sent to\",\"casLoginViewNewPassword\":\"New Password\",\"generalButtonContinue\":\"Continue\",\"generalAccountDisplayNameHint\":\"(Your
        public activities show this name.)\",\"generalLoginSocialFacebook\":\"Sign
        in with Facebook\",\"dobEntryDateOfBirthMonthAugust\":\"August\",\"demotedAccountEntryText\":\"Since
        you are under the age of {0}, your parent or guardian must become an administrator
        for your Garmin account. Enter an email address below, and we will send them
        an email to enable your account.\",\"generalAccountPasswordRules\":\"(Password
        must be at least 8 characters: 1 uppercase, 1 lowercase and 1 number.)\",\"setupMfaRequiredPageTitle\":\"MFA
        required\",\"mfaTextMessage\":\"Text message\",\"setupMfaConfirmationContentTitle\":\"Two-step
        verification is enabled\",\"forgotPswPageTitle\":\"Forgot Password\",\"generalLoginSocialRenren\":\"Sign
        in with Renren\",\"createOrLinkEnterEmailDesc\":\"Enter your Garmin account's
        email address to link the accounts. If you do not have a Garmin account, enter
        your email address to create one now:\",\"codeEntrySentCodeEmail\":\"Email
        was sent to\",\"generalTextNameHint\":\"Enter your name.\",\"createSocAccContinue\":\"Continue\",\"legalValidationAcceptTermsError\":\"Please
        accept the Garmin Terms of Use and Privacy Statement.\",\"generalValidationVerificationCodeNewCode\":\"A
        new verification code has been sent.\",\"generalLoginResetPasswordDescWithEmailOrPhone\":\"Enter
        the email address or phone number associated with your account.\",\"legalImpliedAcceptTerms\":\"By
        clicking the button below, you acknowledge that you have read and agree to
        the Garmin {0}Terms of Use{1} and {2}Privacy Statement{3}.\",\"setupEnterMfaCodePageTitle\":\"Enter
        the MFA code for setup\",\"generalTextRetypePasswordHint\":\"Enter your desired
        password again.\",\"mfaPhoneNumberEntryHeadingTwo\":\"Area code\",\"dobEntryConfirmAgeText\":\"To
        continue creating your account, please confirm that your date of birth is
        {0} and that you are {1} years old.\",\"dobEntryInfoInstructionsUsages\":\"-
        Calculate performance stats like VO2 max\\n- Determine health stats like fitness
        age\\n- Enable certain app-specific features\\n- Comply with global regulations\",\"createSocAccEmailExists\":\"It
        looks like you already have an account. You may {0}sign in{1} to connect your
        {2} account to your Garmin account. Or, start a separate Garmin account by
        entering a different email address.\",\"codeEntryCodeEntryLabel\":\"Security
        code\",\"generalTextVerificationCode\":\"Verification Code\",\"legalPrivacyPageTitle\":\"Products
        and Application Privacy Statement\",\"generalValidationEmailAlreadyTaken\":\"This
        email address is already in use.  Please {0}sign in{1} with this email address
        or enter another.\",\"generalTextRetypeEmailHint\":\"Enter your desired email
        again.\",\"generalValidationPhoneNumberReqd\":\"Phone Number is required to
        send verification code to your phone.\",\"casLoginViewOrSignInWith\":\"Or
        Sign In with:\",\"generalLoginAccountLocked\":\"Your account has been locked.
        Please use the \\\"Forgot Password?\\\" link to request a temporary password.\",\"footerSecurity\":\"Security\",\"generateMfacodeError\":\"Unable
        to generate MFA code\",\"generalHeaderSignInCN\":\"Sign In - Chinese Mainland\",\"casLoginViewNewEmailAddress\":\"Email
        Address\",\"createAccPleaseAuthenticate\":\"Please authenticate\",\"mfaPhoneNumberEntryHeadingOne\":\"Country\\/region\",\"mobileForgotPswPageTitle\":\"Forgot
        Password\",\"generalTextPleaseCheck\":\"Please check the following\",\"dobEntryDateOfBirthMonthNovember\":\"November\",\"applicationSecurityPolicyLoginDeniedChildAccountText\":\"This
        application is not available for customers with an account that is managed
        by a parent or guardian.\",\"generalValidationPhoneNumberInvalid\":\"Phone
        Number is invalid.\",\"dobEntryDateOfBirthMonthFebruary\":\"February\",\"childAccountEntryManagedAccountCreateFailed\":\"We
        encountered an error while sending the email to your parent or guardian. Please
        try again.\",\"generalValidationPasswordInvalidChars\":\"Minimum password
        length is 8 characters. Please use at least 1 uppercase letter, 1 lowercase
        letter and 1 number. Forward slashes, spaces and double quotes are not allowed.\",\"generalValidationPhoneNumberWrongLength\":\"Phone
        number must be exactly 11 digits long.\",\"generalValidationPasswordReqd\":\"Password
        is required.\",\"generalTextEmailAddress\":\"Email Address\",\"casLoginViewVerificationCodeMessage\":\"Your
        account with phone number {0} has not been verified yet. Please request a
        new verification code by clicking the link below.\",\"createAccEmailExists\":\"An
        account with this email address already exists. Please {0}sign in{1} to that
        account, or, if you want to create a new account, enter a different email
        address.\",\"legalChinaAcceptTerms\":\"I Accept the Garmin Terms of Use and
        Privacy Statement.\",\"INVALIDTICKETSPEC\":\"Ticket failed validation specification.
        Possible errors could include attempting to validate a Proxy Ticket via a
        Service Ticket validator, or not complying with the renew true request.\",\"codeEntryHeading\":\"Enter
        security code\",\"generalValidationDisplayNameMobileAlreadyTaken\":\"This
        display name already exists.\",\"generalButtonYes\":\"Yes\",\"generalTextShow\":\"Show\",\"linkAccErroLinkingSocialAcc\":\"Error
        Linking Social Account.\",\"mobileVerifyEnterCode\":\"Enter Verification Code\",\"generalTextCreateAccount\":\"Create
        Account\",\"mfaSelectionHeading\":\"How do you want to receive your code?\",\"errorAuthenticationEmailAddressInvalid\":\"It
        looks like the email address we have on file for you is invalid. Please update
        it.\",\"casLoginViewRetypeNewPassword\":\"Retype New Password\",\"linkAccLinkAccDesc\":\"Sign
        in to connect your social network account to your Garmin account. You will
        only need to do this once. If you do not have an account you can {0}continue
        without signing in{1}.  When you are finished, please remember to sign out
        of both your Garmin account and your social network account if you use a shared
        computer.\",\"casEmbedSuccessPageTitle\":\"Success\",\"errorAuthenticationCredentialsUnsupported\":\"The
        credentials you provided are not supported Garmin's authentication system.\",\"generalLoginResetPasswordUnexpectedError\":\"Something
        went wrong. Please try again.\",\"createSocAccBindingExists\":\"The Garmin
        Account has been bound to a third-party account of the same type. Please change
        to another Garmin Account for binding.\",\"fourOhFourSubHeader\":\"Let us
        help you find your way\",\"generalValidationVerificationCodeDontMatch\":\"Verification
        code doesn't match.\",\"createOrLinkWhichBestDescribesYou\":\"Now we will
        connect your social network account to Garmin. Which best describes you?\",\"generalLoginPermanentMFARequired\":\"Two-step
        verification is required to access your account. Please visit {0} to log in
        and complete this setup.\",\"createAccSendNewCode\":\"{0}Send a new code{1}\",\"codeEntryExpired\":\"The
        code you entered is expired. Please request a new code.\",\"createAccPhoneNumberExist\":\"An
        account with this phone number already exists. Please {0}sign in{1} to that
        account or, if you want to create a new account, enter a different phone number.\",\"generalTextMobilePhoneNumberChange\":\"{0}Change
        Phone Number{1}\",\"legalPrivacyStatement\":\"We take your privacy seriously.
        Our {0}Privacy Policy{1} is available for your review.\",\"setupMfaConfirmationContent\":\"Next
        time you sign in, you\\u2019ll be prompted to enter your password, followed
        by a security code that we will send you in an email or text message.\",\"generalValidationEmailInvalid\":\"Email
        address is invalid.\",\"codeEntryInvalid\":\"Invalid code. Please enter a
        valid code.\",\"childAccountEntryText\":\"Since you are under the age of {0},
        your parent or guardian must create your Garmin account. Enter an email address
        below and we will send them an email to help them get started.\",\"mobileCreateAccChangePhoneNumber\":\"Change
        Phone number\",\"dobEntryIneligibleAgeText\":\"You do not meet the age requirements
        for a Garmin account.\",\"casLoginViewDontHaveAccount\":\"Don't have an account?\",\"generalButtonClose\":\"Close\",\"childAccountEntrySelfManagedRequestNotAllowed\":\"You
        cannot send the request to your own email address. Please enter an email address
        for your parent or guardian.\",\"generalValidationDisplayNameAlreadyTaken\":\"Sorry,
        this display name is already taken. Please choose another.\",\"generalButtonUpdate\":\"Update\",\"codeEntryRequestNewCode\":\"Request
        a new code\",\"generalValidationUsernameReqd\":\"Username is required.\",\"generalTextPhoneNumber\":\"Phone
        Number\",\"INVALIDREQUEST\":\"'service' and 'ticket' parameters are both required\",\"childAccountEntryHeading\":\"Account
        Request\",\"childAccountEntryParentEmailConfirmLabel\":\"Confirm parent or
        guardian email address\",\"mfaSelectionContent\":\"We'll send a security code
        to your email or phone.\",\"mobileCreateAccRequestNewCode\":\"{0}Request a
        new code{1}\",\"generalHeaderForgotPassword\":\"Forgot Password?\",\"generalValidationDisplayNameInvalidChars\":\"Your
        display name can''t contain spaces or any of the following characters: {0}\",\"generalTextGenericErrorMsg\":\"An
        unexpected error has occurred.\",\"generalValidationVerificationCodeReqd\":\"Verification
        code required.\",\"childAccountEntryWaitingParentSetupEmailSentText\":\"An
        email has been sent to:\",\"generalTextPhoneNumberChange\":\"{0}Change Your
        Phone Number{1}\",\"mobileCreateAccVerificationCodeMessage\":\"A verification
        code has been sent to your phone number: {0}.\",\"linkAccPageTitle\":\"Link
        Social Account\",\"dobEntryDateOfBirthMonthApril\":\"April\",\"mobileVerifyVerifyMessage\":\"Request
        a new code\",\"generalLoginSocialWechat\":\"Sign in with WeChat\",\"casLoginViewMissingPassword\":\"It
        looks like you don\\uFFFDt have a password yet. To continue, check your email
        for the temporary password we just sent you. \",\"casLoginViewReactivateAccount\":\"You\\u2019ll
        need to reset your password to access your account. Please check your email
        for a temporary password. If you don\\u2019t see an email, use the \\u201CForgot
        password?\\u201C link to request one.\",\"createAccCompleteFieldsBelow\":\"Please
        complete the fields below:\",\"createAccPageTitle\":\"Create An Account\",\"createOrLinkLinkAccountLink\":\"I'd
        like to use my social network to access it.\",\"generalTextBindSocialAccountContentEmailOrPhone\":\"Enter
        your Garmin account's email address or phone number to link the accounts.
        If you do not have a Garmin account, enter your email address or phone number
        to create one.\",\"screenLogoutHeader\":\"Logout successful\",\"generalValidationEmailOrPhoneInvalid\":\"Email
        address or phone number is invalid.\",\"mfaVerificationPageTitle\":\"2 Step
        Authentication\",\"casLoginViewSetEmailAddressDesc\":\"Please enter an email
        address for this account.\",\"generalHeaderReactivateAccount\":\"Reactivate
        Account\",\"generalTextEmailAddressOrPhoneNumber\":\"Email Address or Phone
        Number\",\"codeEntryMaxLimit\":\"You have reached the maximum amount of codes
        requested. Please use a code you've received or wait 24 hours and try again.\",\"setupMfaRequiredContent\":\"To
        continue, you\\u2019ll need to set up two-step verification for your account.
        \\n\\nTwo-step verification adds an extra layer of protection to your account.
        Whenever you sign in to Garmin.com to make a purchase or use one of our apps,
        you\\u2019ll be prompted to enter your password, followed by a security code
        that we will send you in an email or text message. \\n\\nWithout setting up
        two-step verification, you won\\u2019t be able to sign in to this application.
[...]
