interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
      di-backend:
      - connectapi.garmin.com
    method: GET
    uri: https://connect.garmin.com/wellness-service/wellness/dailySleepData/mtamizi?nonSleepBufferMinutes=60&date=2021-07-20
  response:
    body:
      string: '{"dailySleepDTO": {"id": 1626758400000, "userProfilePK": 2591602, "calendarDate":
        "2021-07-20", "sleepTimeSeconds": 25740, "napTimeSeconds": 0, "sleepWindowConfirmed":
        true, "sleepWindowConfirmationType": "enhanced_confirmed_final", "sleepStartTimestampGMT":
        1626758400000, "sleepEndTimestampGMT": 1626785940000, "sleepStartTimestampLocal":
        1626740400000, "sleepEndTimestampLocal": 1626767940000, "autoSleepStartTimestampGMT":
        null, "autoSleepEndTimestampGMT": null, "sleepQualityTypePK": null, "sleepResultTypePK":
        null, "unmeasurableSleepSeconds": 0, "deepSleepSeconds": 4440, "lightSleepSeconds":
        18720, "remSleepSeconds": 2580, "awakeSleepSeconds": 1800, "deviceRemCapable":
        true, "retro": false, "sleepFromDevice": true, "averageSpO2Value": 92.0, "lowestSpO2Value":
        84, "highestSpO2Value": 100, "averageSpO2HRSleep": 51.0, "averageRespirationValue":
        15.0, "lowestRespirationValue": 8.0, "highestRespirationValue": 18.0, "sleepVersion":
        1}, "sleepMovement": [], "remSleepData": true, "sleepLevels": [], "wellnessSpO2SleepSummaryDTO":
        {"userProfilePk": 2591602, "deviceId": 3329978681, "sleepMeasurementStartGMT":
        "2021-07-20T05:21:00.0", "sleepMeasurementEndGMT": "2021-07-20T12:56:00.0",
        "alertThresholdValue": null, "numberOfEventsBelowThreshold": null, "durationOfEventsBelowThreshold":
        null, "averageSPO2": 92.0, "averageSpO2HR": 51.0, "lowestSPO2": 84}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
